<%
meta = { title:'確認：セミナー申し込み', desc:'' };
path = '../';
srcPath = '../../';
isForm = '';
directory = 'entry-seminar';
directoryLv2 = '';
page = 'confirm';
%><?php require_once "{$_SERVER['DOCUMENT_ROOT']}/common/php/aristo.php" ?><!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<%- include(srcPath + 'html/include/_gtag') %>
<%- include(srcPath + 'html/include/_head') %>
</head>
<body class="<% if (directory!=='') { %>aristo-<%= directory %><% } else {%>home<% } %><% if (page!=='') { %> page-<%= page %><% } %>" id="top">
<div class="page" id="data-page">
<%- include(srcPath + 'html/include/_header') %>
	<main class="main contents">
		<header class="page-head">
			<div class="container">
				<h1 class="page-title"><%= meta.title %></h1>
			</div>
		</header>
		<div class="page-body">
			<div class="container">
				<div class="page-lead">
					<p>内容を確認して問題なければ「送信する」ボタンを押してください。<br>
					修正したい場合は、「修正する」ボタンを押してください。</p>
				</div>
				<!-- /[.page-lead] -->
<%- include(srcPath + 'html/include/_block-contact') %>
				<div class="contact-form">
					<nav class="step-indicator">
						<ul>
							<li class="step-indicator__item -input"><span>入力</span></li>
							<li class="step-indicator__item -confirm"><span>確認</span></li>
							<li class="step-indicator__item -complete"><span>完了</span></li>
						</ul>
					</nav>
					<!-- /[.step-indicator] -->
					
					<h2 class="section-title"><%= meta.title %></h2>
					<p class="contact-form__note">※内容を確認して問題なければ「送信する」ボタンを押してください。<br>
					　修正したい場合は、「修正する」ボタンを押してください。</p>
					<form action="confirm.html" method="post" name="form-contact" class="form-body h-adr" id="form-contact">
						<input type="hidden" class="p-country-name" value="Japan">
						<div class="form-field required">
							<div class="form-field__label">
								<label for="seminarSchedule">参加希望日時</label>
							</div>
							<div class="form-field__element">
								<input id="data-seminarSchedule" name="seminarSchedule" type="hidden" value="<?php echo $_POST['seminarSchedule']?>">
								<div class="form-value"><?php echo $seminar_date?>　<?php echo $seminar_place?></div>
							</div>
						</div>
						<div class="form-field required">
							<div class="form-field__label"><label for="name-familyName">お名前</label></div>
							<div class="form-field__element">
								<ul class="element--name">
									<li class="element--name__item">
										<label for="name-familyName">姓</label>
										<input type="hidden" id="data-name-familyName" name="name-familyName" value="<?php echo $_POST['name-familyName']?>">
										<div class="form-value"><?php echo $_POST['name-familyName']?></div>
									</li>
									<li class="element--name__item">
										<label for="name-lastName">名</label>
										<input type="hidden" id="data-name-lastName" name="name-lastName" value="<?php echo $_POST['name-lastName']?>">
										<div class="form-value"><?php echo $_POST['name-lastName']?></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="form-field">
							<div class="form-field__label"><label for="kana-familyName">お名前（フリガナ）</label></div>
							<div class="form-field__element">
								<ul class="element--name">
									<li class="element--name__item">
										<label for="name-familyName">姓</label>
										<input type="hidden" id="data-kana-familyName" name="kana-familyName" value="<?php echo $_POST['kana-familyName']?>">
										<div class="form-value"><?php echo $_POST['kana-familyName']?></div>
									</li>
									<li class="element--name__item">
										<label for="name-lastName">名</label>
										<input type="hidden" id="data-kana-lastName" name="kana-lastName" value="<?php echo $_POST['kana-lastName']?>">
										<div class="form-value"><?php echo $_POST['kana-lastName']?></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="form-field">
							<div class="form-field__label required"><label for="">ご住所</label></div>
							<div class="form-field__element">
								<div class="form-field--child required">
									<div class="form-field__label"><label for="zipcode">郵便番号</label></div>
									<div class="form-field__element">
										<input type="hidden" id="data-zipcode" name="zipcode" value="<?php echo $_POST['zipcode']?>">
										<div class="form-value"><?php echo $_POST['zipcode']?></div>
									</div>
								</div>
								<div class="form-field--child required">
									<div class="form-field__label"><label for="address1">住所</label></div>
									<div class="form-field__element">
										<input type="hidden" id="data-address1" name="address1" value="<?php echo $_POST['address1']?>">
										<div class="form-value"><?php echo $_POST['address1']?></div>
									</div>
								</div>
								<div class="form-field--child">
									<div class="form-field__label"><label for="address2">建物名、部屋番号等</label></div>
									<div class="form-field__element">
										<input type="hidden" id="data-address2" name="address2" value="<?php echo $_POST['address2']?>">
										<div class="form-value"><?php echo $_POST['address2']?></div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-field required">
							<div class="form-field__label"><label for="tel">電話番号</label></div>
							<div class="form-field__element">
								<input type="hidden" id="data-tel" class="element-input-text validate[required]" name="tel" value="<?php echo $_POST['tel']?>">
								<div class="form-value"><?php echo $_POST['tel']?></div>
							</div>
						</div>
						<div class="form-field required">
							<div class="form-field__label"><label for="email">E-mail</label></div>
							<div class="form-field__element">
								<input type="hidden" id="data-email" name="email" value="<?php echo $_POST['email']?>">
								<input type="hidden" id="data-email" name="email2" value="<?php echo $_POST['email2']?>">
								<div class="form-value"><?php echo $_POST['email']?></div>
							</div>
						</div>
						<div class="form-field required">
							<div class="form-field__label"><label for="number">参加人数</label></div>
							<div class="form-field__element">
								<input type="hidden" id="data-number" name="number" value="<?php echo $_POST['number']?>">
								<div class="form-value"><?php echo $_POST['number']?>名</div>
							</div>
						</div>
						<div class="form-field">
							<div class="form-field__label"><label for="generation">年代</label></div>
							<div class="form-field__element -checkbox">
								<?php if($_POST['generation20']): ?><input type="hidden" id="data-generation20" name="generation20" value="<?php echo $_POST['generation20']?>"><?php endif; ?>
								<?php if($_POST['generation30']): ?><input type="hidden" id="data-generation30" name="generation30" value="<?php echo $_POST['generation30']?>"><?php endif; ?>
								<?php if($_POST['generation40']): ?><input type="hidden" id="data-generation40" name="generation40" value="<?php echo $_POST['generation40']?>"><?php endif; ?>
								<?php if($_POST['generation50']): ?><input type="hidden" id="data-generation50" name="generation50" value="<?php echo $_POST['generation50']?>"><?php endif; ?>
								<?php if($_POST['generation60']): ?><input type="hidden" id="data-generation60" name="generation60" value="<?php echo $_POST['generation60']?>"><?php endif; ?>
								<?php if($_POST['generation70']): ?><input type="hidden" id="data-generation70" name="generation70" value="<?php echo $_POST['generation70']?>"><?php endif; ?>
								<?php if($_POST['generation80']): ?><input type="hidden" id="data-generation80" name="generation80" value="<?php echo $_POST['generation80']?>"><?php endif; ?>

								<div class="form-value"><?php echo $generations ?></div>
							</div>
						</div>
						<div class="form-field">
							<div class="form-field__label"><label for="question">ご質問</label></div>
							<div class="form-field__element">
								<input type="hidden" name="question" id="data-question" value="<?php echo $_POST['question']?>">
								<div class="form-value"><?php echo str_replace("\n","<br>",$_POST['question'])?></div>
							</div>
						</div>
						<div class="form-field--confirm">
							<input type="submit" id="data-submit" class="form-submit" value="送信する">
							<input type="button" class="form-back" onclick="history.back()" value="修正する">
							<input type="hidden" name="kind" value="entry">
						</div>
					</form>
				</div>
				<!-- /[.contact-form]-->	
			</div>
			<!-- /[.container] -->
		</div>
	</main>
	<!-- /[.contents] -->
<%- include(srcPath + 'html/include/_footer') %>
</div><!-- /[.page] -->

<%- include(srcPath + 'html/include/_body_last') %>
</body>
</html>
