<%
meta = { title:"東証一部上場株式会社エー・ディー・ワークスの不動産小口化商品 ARISTO公式サイト", desc:"" };
seminar = "finish";
isOnsale = "";
isForm ="";
path = "./";
srcPath ="../";
directory = "";
directoryLv2 = "";
page = "";
seminarList = [
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年7月17日（水）14時～15時30分",
		"seminarTime": "13時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201907171400_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年7月17日（水）18時～19時30分",
		"seminarTime": "17時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201907171800_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年7月20日（土）14時～15時30分",
		"seminarTime": "13時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201907201400_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年7月24日（水）14時～15時30分",
		"seminarTime": "13時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201907241400_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年7月24日（水）18時～19時30分",
		"seminarTime": "17時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201907241800_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年7月27日（土）14時～15時30分",
		"seminarTime": "13時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201907271400_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年7月31日（水）14時～15時30分",
		"seminarTime": "13時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201907311400_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年7月31日（水）18時～19時30分",
		"seminarTime": "17時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201907311800_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年8月3日（土）14時～15時30分",
		"seminarTime": "13時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201908031400_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年8月7日（水）14時～15時30分",
		"seminarTime": "13時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201908071400_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年8月7日（水）18時～19時30分",
		"seminarTime": "17時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201908071800_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年8月10日（土）14時～15時30分",
		"seminarTime": "13時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201908101400_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年8月14日（水）14時～15時30分",
		"seminarTime": "13時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201908141400_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年8月14日（水）18時～19時30分",
		"seminarTime": "17時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201908141800_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年8月17日（土）14時～15時30分",
		"seminarTime": "13時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201908171400_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年8月21日（水）14時～15時30分",
		"seminarTime": "13時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201908211400_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年8月21日（水）18時～19時30分",
		"seminarTime": "17時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201908211800_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年8月24日（土）14時～15時30分",
		"seminarTime": "13時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201908241400_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年8月28日（水）14時～15時30分",
		"seminarTime": "13時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201908281400_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年8月28日（水）18時～19時30分",
		"seminarTime": "17時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201908281800_tokyo"
	},
	{
		"seminarTitle": "アリスト青山ご案内会（東京）<span>※完全予約制　予約は前日21時まで</span>",
		"seminarImage": "image_aoyama",
		"seminarCategories": [
			{
				categoryClass: "aoyama",
				categoryLabel: "ARISTO青山"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2019年8月31日（土）14時～15時30分",
		"seminarTime": "13時45分",
		"seminarRegion": "東京会場",
		"seminarPlace": "東京都千代田区内幸町1-1-7　日比谷U-1ビル13階　<br>株式会社エー・ディー・ワークス本社",
		"seminarGoogleMap": "https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja",
		"seminarFee": "無料",
		"seminarCapacity": "5名",
		"seminarOutline": "<p><u>前半（60分）</u>　不動産小口化商品ARISTO青山商品説明</p><p><u>後半（15～30分）</u>　質疑・個別相談・アンケート記載</p>",
		"seminarOutline": "・不動産を活用した相続対策をご検討の方<br>・資産運用に興味がある方<br>・不動産小口化商品についての詳細な説明をご希望の方<br>・少額での不動産投資に興味がある方<br>・資産運用をしたいが、そのために時間を割けない方",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "201908311400_tokyo"
	}
];
catalogue = [
	{
		"catalogueID":"aoyama",
		"catalogueStatus":"investment",
		"catalogueTitle":"ARISTO青山",
		"catalogueCaption":"2019年9月運用開始",
		"catalogueAccess":"東京都港区南青山2丁目11番11号<br>東京メトロ銀座線「外苑前」駅　徒歩4分<br>東京メトロ銀座線・半蔵門線・都営地下鉄大江戸線「青山一丁目」駅<br>徒歩6分",
		"catalogueOutline":"都心の中心「港区青山」の新築ビル",
		"catalogueInformation":"第2号商品の「ARISTO青山」は、予定通り完売し現在運用中となりました。<br>多数のお問い合わせをいただき、ありがとうございました。",
		"cataloguePhoto":["01"],
		"cataloguePhotoSub":["02","03",]
	},
	{
		"catalogueType":"",
		"catalogueID":"kyoto",
		"catalogueStatus":"investment",
		"catalogueTitle":"ARISTO京都",
		"catalogueCaption":"2018年12月運用開始",
		"catalogueAccess":"京都府京都市中京区新京極通六角下る桜之町441－2<br>阪急京都線「河原町」駅　徒歩5分",
		"catalogueOutline":"京都中心部「田の字エリア」に位置する商業ビル",
		"catalogueInformation":"第1号商品の「ARISTO京都」は、予定通り完売し現在運用中となりました。<br>多数のお問い合わせをいただき、ありがとうございました。",
		"cataloguePhoto":["01"],
		"cataloguePhotoSub":["02","03",]
	}
];%><!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<%- include(srcPath + 'html/include/_gtag') %>
<%- include(srcPath + 'html/include/_head') %>
</head>
<body class="<% if (directory!=='') { %> <%= directory %><% } else {%>home<% } %>" id="top">
<div class="page" id="data-page">
<%- include(srcPath + 'html/include/_header') %>
	<main class="main contents">
		<header class="page-head">
			<div class="container">
				<h1 class="page-title"><ruby>ARISTO <rp>(</rp><rt>アリスト</rt><rp>)</rp></ruby>は、好立地の優良不動産に対して<br>少額からの投資が可能な不動産小口化商品です。</h1>
				<p class="page-title--note">ARISTO(アリスト)は、株式会社エー・ディー・ワークスが提供する、<br class="is-pc">不動産特定共同事業法に基づく不動産小口化商品です。
				</p>
			</div>
		</header>
		<!-- /[.page-head] -->

		<% if(isOnsale!== ''){%><div class="block">
			<div class="block-catalogue__body"><% catalogue.forEach(function(item) {%>
				<% if(item.catalogueID=='aoyama') {%><article class="catalogue-item<%if(item.catalogueType){%> -<%- item.catalogueType %><% } %>" id="catalogue-<%- item.catalogueID %>">
					<div class="catalogue__body<% if(item.catalogueStatus) { %> catalogue-<%- item.catalogueStatus%><% } %>">
						<h3 class="catalogue__title"><%- item.catalogueTitle %><% if(item.catalogueCaption) {%><span class="-caption"><%- item.catalogueCaption %></span><% } %></h3>
						<% if(item.catalogueAccess) {%><p class="catalogue__access"><%- item.catalogueAccess %></p><% } %>
						<% if(item.catalogueOutline) {%><p class="catalogue__outline"><%- item.catalogueOutline %></p><% } %>
						<% if(item.catalogueType) {%><div class="catalogue__photo"><% item.cataloguePhotoSub.forEach(function(value) {%>
						<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div>
						<%})%></div><% } %>
						<a href="<%= path %><%= item.catalogueID %>" class="btn-detail">物件詳細はこちら</a>
					</div>
					<div class="catalogue__photo"><% item.cataloguePhoto.forEach(function(value) {%>
						<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% if(item.catalogueType == ''){%><% item.cataloguePhotoSub.forEach(function(value) {%>
						<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% } %>
						<a href="<%= path %><%= item.catalogueID %>" class="btn-detail">物件詳細はこちら</a>
					</div>
				</article><%} %><%}); %>
			</div>
		</div><%} %>

<%- include(srcPath + 'html/include/_block-movie-aristo') %>
		<!-- /[.block-movie] -->
		
		<section class="block block-point" id="section-point">
			<h2 class="block__title">好立地の優良不動産へ<br class="is-sp">投資することのメリットとは？</h2>
			<div class="block__body">
				<section class="unit unit-point -point1" id="point1">
					<h3 class="unit-point__title">安定した賃料収入が期待でき、<br>かつ資産価値が落ちづらい傾向がある。</h3>
					<dl class="unit-point__image -width">
						<dt class="caption">国土交通省「地価公示」より当社作成</dt>
						<dd>
							<p><strong>2010年を100とした、地価変動推移（商業地）の比較</strong></p>
							<p><img src="<%= path %>images/index/image_point1_rev2.jpg" alt="イメージ：安定した賃料収入が期待でき、かつ資産価値が堕ちづらい傾向がある。"></p>
						</dd>
					</dl>
					<p class="is--notice">※物件の資産価値が下落しないことを保証するものではありません。</p>
				</section>
				<!-- /[.unit.unit-point#point1] -->
				<div class="unit aristo-note">
					<p>好立地の優良不動産に投資をするためには大きな資本が必要となります。<br>ARISTOは、不動産を小口化することで、メリットをそのままに、少額からの投資が可能です。</p>
					<p class="aristo-note__appendix">（一口100万円で最低5口からの投資になります）</p>
				</div>
				<section class="unit -point3-4" id="section-merit">
					<h3 class="unit__title">小口化することによる更なるメリット</h3>
					<div class="unit-point__body">
						<div class="unit unit-point unit-point--sub -point3">
							<div class="unit-point--sub__inner">
								<p class="unit-point--sub__image"><img src="<%= path %>images/index/image_point3.jpg" alt="イメージ：管理運営の手間無し"></p>
								<section class="unit-point--sub__body">
									<h4 class="unit-point--sub__title">管理運営の手間無し</h4>
									<p>入居するテナントへの対応や、日々の維持管理から、長期的な建物のメンテナンス等、不動産の管理運営には手間がかかります。そのような管理運営は当社が⼀括して執り行いますので、皆様には煩わしい手間はかかりません。</p>
								</section>
							</div>						
						</div>
						<!-- /[.unit.unit-point--sub.-point3] -->
						<div class="unit unit-point unit-point--sub -point4">
							<div class="unit-point--sub__inner">
								<p class="unit-point--sub__image"><img src="<%= path %>images/index/image_point4.jpg" alt="イメージ：次世代への平等な資産承継"></p>
								<section class="unit-point--sub__body">
									<h4 class="unit-point--sub__title">次世代への平等な資産承継</h4>
									<p>口数による分割が可能であることから、実物不動産と異なり、複数人への平等な相続、贈与が容易です。</p>
								</section>
							</div>
						</div>
						<!-- /[.unit.unit-point--sub.-point4] -->
					</div>
					<p class="aristo-message">「ARISTO」は、優良不動産への投資メリットに加え、<br class="is-pc">小口化の投資メリットを兼ね備えた商品です。<br>東証一部上場のエー・ディー・ワークスがご提供する不動産小口化商品<br class="is-pc">「ARISTO」を、皆様の運用先の一つとして<br class="is-pc">ぜひご検討ください。</p>
				</section>
				<!-- /[.unit.-point3-4] -->
			</div>
			<h2 class="block-contact__title">資料請求・お問い合わせはこちら</h2>
            <a href="<%= path %>request/" class="btn-detail block-contact__button">Webお問い合わせフォーム</a>
<%- include(srcPath + 'html/include/_block-contact') %>
		</section>
		<!-- /[.block-point#section-point] -->
		
		<section class="block-catalogue" id="section-catalogue">
			<h2 class="block__title"><span>ARISTO物件情報</span></h2>
			<div class="block">
				<div class="block-catalogue__body"><% catalogue.forEach(function(item) {%>
					<article class="catalogue-item<%if(item.catalogueType){%> -<%- item.catalogueType %><% } %>" id="catalogue-<%- item.catalogueID %>">
						<div class="catalogue__body<% if(item.catalogueStatus) { %> catalogue-<%- item.catalogueStatus%><% } %>">
							<h3 class="catalogue__title"><%- item.catalogueTitle %><% if(item.catalogueCaption) {%><span class="-caption"><%- item.catalogueCaption %></span><% } %></h3>
							<% if(item.catalogueAccess) {%><p class="catalogue__access"><%- item.catalogueAccess %></p><% } %>
							<% if(item.catalogueOutline) {%><p class="catalogue__outline"><%- item.catalogueOutline %></p><% } %>
							<% if(item.catalogueType) {%><div class="catalogue__photo"><% item.cataloguePhotoSub.forEach(function(value) {%>
							<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div>
							<%})%></div><% } %>
							<a href="<%= path %><%= item.catalogueID %>" class="btn-detail">物件詳細はこちら</a>
						</div>
						<div class="catalogue__photo"><% item.cataloguePhoto.forEach(function(value) {%>
							<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% if(item.catalogueType == ''){%><% item.cataloguePhotoSub.forEach(function(value) {%>
							<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% } %>
							<a href="<%= path %><%= item.catalogueID %>" class="btn-detail">物件詳細はこちら</a>
						</div>
					</article><%}); %>
				</div>
			</div>
		</section>
		<!-- /[.block-catalogue#section-catalogue] -->
		
		<section class="block-seminars" id="section-seminars">
			<h2 class="block__title"><span>セミナー情報</span></h2>
			<div class="block">
<%- include(srcPath + 'html/include/_block-seminar-body') %>
			</div>
		</section>
		<!-- /[.block-seminars#section-seminars] -->

<%- include(srcPath + 'html/include/_block-flow') %>
		<!-- /[.block-flow#section-flow] -->

<%- include(srcPath + 'html/include/_block-faq') %>
		<!-- /[.block-flow#section-faq] -->

<%- include(srcPath + 'html/include/_block-footer-information') %>
		<!-- /[.block.footer-information] -->

	</main>
	<!-- /[.main] -->
<%- include(srcPath + 'html/include/_footer') %>
</div><!-- /.page -->

<%- include(srcPath + 'html/include/_loading') %>

<%- include(srcPath + 'html/include/_body_last') %>

</body>
</html>
