<%
meta = { title:"株式会社エー・ディー・ワークスの不動産小口化商品 ARISTO公式サイト", desc:"" };
seminar = "finish";
guidance = "";
isOnsale = "";
isForm ="";
path = "./";
srcPath ="../";
directory = "";
directoryLv2 = "";
page = "";
seminarList = [
	{
		"seminarTitle": "不動産小口化商品「ARISTO高円寺」説明会",
		"seminarImage": "image_kouenji",
/*
		"seminarCategories": [
			{
				categoryClass: "kouenji",
				categoryLabel: "ARISTO高円寺"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
*/
		"seminarDate": "2020年9月9日（水）14時00分～15時00分",
		"seminarTime": "14時00分",
		"seminarRegion": "オンライン開催",
		"seminarPlace": "オンライン開催",
		"seminarGoogleMap": "",
		"seminarFee": "無料",
		"seminarCapacity": "50名",
		"seminarOutline": "",
		"seminarContactName": "株式会社エー・ディー・ワークス　資産運用事業本部　ウェルスマネジメント部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "202009091400_online"
	}
];
catalogue = [
	{
		"isNew":"true",
		"catalogueID":"aoyama3",
        "catalogueStatus":"available",
		"catalogueStatusJP":"販売中",
        "catalogueTitle":"ARISTO青山Ⅲ",
		"catalogueCaption":"",
        "catalogueOutline":"高級感あふれるショッピングと文化の中心地<br>「表参道駅」徒歩1分の「築浅店舗ビル」",
        "catalogueAccess":"東京都港区南青山五丁目6番6号<br>東京メトロ銀座線、千代田線、半蔵門線「表参道」駅　徒歩1分	<br>東京メトロ副都心線、千代田線「明治神宮前〈原宿〉」駅	　徒歩13分<br>JR山手線 他4社9路線「渋谷」駅（宮益坂口）　徒歩16分",
        "catalogueInformation":"高級感あふれるショッピングと文化の中心地<br>「表参道駅」徒歩1分の「築浅店舗ビル」",
		"cataloguePhoto":["01"],
	},
	{
		"isNew":"true",
		"catalogueID":"osaka-tenjinbashi",
        "catalogueStatus":"available",
		"catalogueStatusJP":"販売中",
        "catalogueTitle":"ARISTO大阪天神橋",
		"catalogueCaption":"",
        "catalogueOutline":"ビジネス・商業の機能が集中する大阪駅まで1駅<br>日本一長い商店街近くの「マンション」",
        "catalogueAccess":"大阪府大阪市北区天神橋三丁目7番15号<br>大阪メトロ堺筋線「扇町」駅 　徒歩2分<br>JR大阪環状線「天満」駅 　徒歩6分<br>大阪メトロ谷町線「南森町」駅 　徒歩5分<br>大阪メトロ谷町線「東梅田」駅　徒歩12分",
        "catalogueInformation":"ビジネス・商業の機能が集中する大阪駅まで1駅<br>日本一長い商店街近くの「マンション」",
		"cataloguePhoto":["01"],
	},
	{
		"isNew":"",
		"catalogueID":"meguro",
        "catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
        "catalogueTitle":"ARISTO目黒",
		"catalogueCaption":"",
        "catalogueOutline":"JR山手線「目黒駅」最寄りで、<br>東京主要スポットへ直通でアクセス可能<br>住みやすい人気のエリアの「築浅マンション」",
        "catalogueAccess":"東京都目黒区下目黒二丁目16番20号<br>JR山手線、東京メトロ南北線、都営地下鉄三田線、東急目黒線「目黒」駅　徒歩8分<br>東急目黒線「不動前」駅　徒歩9分",
        "catalogueInformation":"JR山手線「目黒駅」最寄りで、東京主要スポットへ直通でアクセス可能<br>住みやすい人気のエリアの「築浅マンション」",
		"cataloguePhoto":["01"],
	},
	{
		"isNew":"",
		"catalogueID":"nishiazabu2",
        "catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
        "catalogueTitle":"ARISTO西麻布Ⅱ",
		"catalogueCaption":"",
        "catalogueOutline":"商業・事務所ビルが立ち並ぶ国際色豊かな<br>「六本木駅」から徒歩7分<br>著名人や富裕層が集まるお洒落なエリアの「店舗ビル」",
        "catalogueAccess":"東京都港区西麻布一丁目9番5号<br>都営大江戸線、東京メトロ日比谷線「六本木」駅　徒歩7分<br>東京メトロ千代田線「乃木坂」駅　徒歩9分",
        "catalogueInformation":"商業・事務所ビルが立ち並ぶ国際都市に位置する「六本木駅」から徒歩7分<br>著名人や富裕層が集まるお洒落なエリアの「店舗ビル」",
		"cataloguePhoto":["01"],
	},
	{
		"isNew":"",
		"catalogueID":"nishishinjuku",
        "catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
        "catalogueTitle":"ARISTO西新宿",
		"catalogueCaption":"",
        "catalogueAccess":"東京都渋谷区本町3丁目28番16号<br>都営大江戸線「西新宿五丁目」駅　徒歩5分<br>都営大江戸線「都庁前」駅　徒歩13分<br>東京メトロ丸ノ内線、都営大江戸線「中野坂上」駅　徒歩11分",
        "catalogueOutline":"東京を代表するターミナル駅「新宿駅」まで2駅<br>都心の「築浅マンション」",
        "catalogueInformation":"東京を代表するターミナル駅新宿駅まで2駅<br>都心の「築浅マンション」",
		"cataloguePhoto":["01"],
	},
	{
		"isNew":"",
		"catalogueID":"hakata",
        "catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
        "catalogueTitle":"ARISTO博多",
		"catalogueCaption":"",
        "catalogueAccess":"福岡市博多区博多駅前三丁目20番15号<br>山陽/九州新幹線・JR鹿児島本線/篠栗線/博多南線・福岡市営地下鉄空港線/七隈線<br>「博多」駅　徒歩5分<br>福岡市営地下鉄七隈線「櫛田神社前」駅　徒歩5分",
        "catalogueOutline":"再開発が活発な大都市「博多駅」から徒歩5分<br>角地に位置する、視認性の高い「店舗事務所ビル」",
        "catalogueInformation":"再開発が活発な大都市・博多の「博多駅」から徒歩5分<br>角地に位置する、視認性の高い「店舗事務所ビル」",
		"cataloguePhoto":["01"],
	},
	{
		"isNew":"",
		"catalogueID":"hiroo",
        "catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
        "catalogueTitle":"ARISTO広尾",
		"catalogueCaption":"2024年6月運用開始",
        "catalogueAccess":" 東京都渋谷区広尾5丁目13番6号<br>東京メトロ日比谷線「広尾」駅　徒歩3分<br>JR山手線・東京メトロ日比谷線「恵比寿」駅　徒歩16分",
        "catalogueOutline":"東京を代表する高級住宅街「広尾」駅近くに位置する<br>高級飲食店などが出店予定の「築浅店舗ビル」",
        "catalogueInformation":"東京を代表する高級住宅街「広尾」駅近くに位置する<br>高級飲食店などが出店予定の「築浅店舗ビル」",
		"cataloguePhoto":["01"],
	},
	{
		"isNew":"",
		"catalogueID":"sapporo",
        "catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
        "catalogueTitle":"ARISTO札幌",
		"catalogueCaption":"2024年3月運用開始",
        "catalogueAccess":"北海道札幌市東区北7条東3丁目15番75号<br>JR千歳線「札幌」駅 　 徒歩9分<br>地下鉄東豊線・南北線「さっぽろ」駅 　　徒歩7分",
        "catalogueOutline":"再開発の進む地方中枢都市<br class=\"is-pc\">「札幌」に位置する「新築マンション」",
        "catalogueInformation":"再開発の進む地方中枢都市「札幌」に位置する「新築マンション」",
		"cataloguePhoto":["01"],
	},
	{
		"isNew":"",
		"catalogueID":"aoyama2",
        "catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
        "catalogueTitle":"ARISTO青山Ⅱ",
		"catalogueCaption":"2024年3月運用開始",
        "catalogueAccess":"東京都港区南青山2丁目5番9号<br>東京メトロ銀座線・半蔵門線・都営大江戸線「青山一丁目」駅 　 徒歩3分<br>東京メトロ銀座線「外苑前」駅 　　徒歩7分<br>東京メトロ千代田線「乃木坂」駅　徒歩11分",
        "catalogueOutline":"洗練された都会のオアシス「港区南青山」に位置する、<br class=\"is-pc\">自社開発の「新築店舗事務所ビル」",
        "catalogueInformation":"洗練された都会のオアシス「港区南青山」に位置する、<br class=\"is-pc\">自社開発の「新築店舗事務所ビル」",
		"cataloguePhoto":["01"],
	},
	{
		"isNew":"",
		"catalogueID":"harajuku",
        "catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
        "catalogueTitle":"ARISTO原宿",
        "catalogueCaption":"2023年12月運用開始",
        "catalogueAccess":"東京都渋谷区神宮前3丁目21番21号<br>東京メトロ副都心線・千代田線「明治神宮前」駅 　 徒歩5分<br>JR山手線「原宿」駅 　　徒歩６分<br>東京メトロ千代田線・半蔵門線・銀座線「表参道」駅　徒歩11分",
        "catalogueOutline":"世界に知られる流行や文化の発信地<br>「原宿」に位置する「新築店舗ビル」",
        "catalogueInformation":"世界に知られる流行や文化の発信地<br>「原宿」に位置する「新築店舗ビル」",
		"cataloguePhoto":["01"],
	},
	{
		"isNew":"",
		"catalogueID":"daimyo",
		"catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
        "catalogueTitle":"ARISTO福岡大名",
		"catalogueCaption":"2023年6月運用開始",
        "catalogueAccess":"福岡県福岡市中央区大名2-9-17<br>福岡市地下鉄空港線「天神」駅　徒歩６分<br>福岡市地下鉄空港線「赤坂」駅　徒歩２分<br>西鉄･天神大牟田線「西鉄福岡（天神）」駅　徒歩11分",
		"catalogueOutline":"大規模再開発「天神ビックバン」が進行中である<br>天神/大名エリアに位置する「新築事務所店舗ビル」",
		"catalogueInformation":"大規模再開発「天神ビックバン」が進行中である<br>天神/大名エリアに位置する「新築事務所店舗ビル」",
		"cataloguePhoto":["01"],
		"cataloguePhotoSub":["02","03",]
	},
	{
		"isNew":"",
		"catalogueID":"omotesando",
		"catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
		"catalogueTitle":"ARISTO表参道",
		"catalogueCaption":"2023年6月運用開始",
		"catalogueAccess":"東京都渋谷区神宮前4-9-9<br>東京メトロ千代田線・半蔵門線・銀座線「表参道」駅　徒歩3分<br>東京メトロ副都心線・千代田線「明治神宮前」駅　徒歩7分<br>JR山手線「原宿」駅　徒歩11分",
		"catalogueOutline":"有力商業地である渋谷、原宿、青山に囲まれた<br>東京を代表する商業エリア「表参道」の店舗ビル",
		"catalogueInformation":"有力商業地である渋谷、原宿、青山に囲まれた<br>東京を代表する商業エリア「表参道」の店舗ビル",
		"cataloguePhoto":["01"],
		"cataloguePhotoSub":["02","03",]
	},
	{
		"isNew":"",
		"catalogueID":"nishiazabu",
		"catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
		"hasPage": "true",
		"catalogueTitle":"ARISTO西麻布",
		"catalogueCaption":"2022年6月運用開始",
		"catalogueAccess":"東京都港区西麻布1-8-12<br>東京メトロ日比谷線「六本木」駅　徒歩6分<br>都営大江戸線「六本木」駅 徒歩8分",
		"catalogueOutline":"「3A」と称される都内屈指のブランドエリア<br class=\"is-pc\">「港区西麻布」の「築浅事務所店舗ビル」に少額から投資が可能な商品です。",
		"catalogueInformation":"「3A」と称される都内屈指のブランドエリア「港区西麻布」の「築浅事務所店舗ビル」に少額から投資が可能な商品です。",
		"cataloguePhoto":["01"],
		"cataloguePhotoSub":["02","03",]
	},
	{
		"isNew":"",
		"catalogueID":"shibuya",
		"catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
		"hasPage": "true",
		"catalogueTitle":"ARISTO渋谷",
		"catalogueCaption":"2021年12月運用開始",
		"catalogueAccess":"東京都渋谷区宇田川町37番15号<br>東京メトロ半蔵門線・副都心線・銀座線「渋谷」駅　徒歩7分<br>JR山手線・埼京線・湘南新宿ライン「渋谷」駅　徒歩9分<br>京王井の頭線「渋谷」駅　徒歩8分<br>東急田園都市線・東横線「渋谷」駅 徒歩7分",
		"catalogueOutline":"東京の主要都市「渋谷」の「築浅店舗事務所ビル」",
		"catalogueInformation":"第5号商品の「ARISTO渋谷」は、予定通り完売し現在運用中となりました。多数のお問い合わせをいただき、ありがとうございました。",
		"cataloguePhoto":["01"],
		"cataloguePhotoSub":["02","03",]
	},
	{
		"isNew":"",
		"catalogueID":"toranomon",
		"catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
		"hasPage": "true",
		"catalogueTitle":"ARISTO虎ノ門",
		"catalogueCaption":"2021年6月運用開始",
		"catalogueAccess":"東京都港区西新橋1丁目17番16号<br>東京メトロ銀座線「虎ノ門」駅　徒歩6分<br>JR線・東京メトロ銀座線「新橋」駅　徒歩5分<br>都営三田線「内幸町」駅　徒歩2分　等5駅11路線利用可",
		"catalogueOutline":"都心3区、港区「虎ノ門」の「事務所店舗ビル」",
		"catalogueInformation":"第4号商品の「ARISTO虎ノ門」は、予定通り完売し現在運用中となりました。多数のお問い合わせをいただき、ありがとうございました。",
		"cataloguePhoto":["01"],
		"cataloguePhotoSub":["02","03",]
	},
	{
		"isNew":"",
		"catalogueID":"kouenji",
		"catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
		"hasPage": "true",
		"catalogueTitle":"ARISTO高円寺",
		"catalogueCaption":"2020年12月運用開始",
		"catalogueAccess":"東京都杉並区高円寺南3丁目58番22号<br>JR中央・総武線「高円寺」駅　徒歩1分<br>東京メトロ 丸の内線「新高円寺」駅　徒歩12分",
		"catalogueOutline":"JR中央線「高円寺駅」から「徒歩1分」の<span>「新築店舗ビル」</span>",
		"catalogueInformation":"第3号商品の「ARISTO高円寺」は、予定通り完売し現在運用中となりました。多数のお問い合わせをいただき、ありがとうございました。",
		"cataloguePhoto":["01"],
		"cataloguePhotoSub":["02","03",]
	},
	{
		"isNew":"",
		"catalogueID":"aoyama",
		"catalogueStatus":"investment",
		"catalogueStatusJP":"運用中",
		"hasPage": "true",
		"catalogueTitle":"ARISTO青山",
		"catalogueCaption":"2019年9月運用開始",
		"catalogueAccess":"東京都港区南青山2丁目11番11号<br>東京メトロ銀座線「外苑前」駅　徒歩4分<br>東京メトロ銀座線・半蔵門線・都営地下鉄大江戸線「青山一丁目」駅<br>徒歩6分",
		"catalogueOutline":"都心の中心「港区青山」の新築ビル",
		"catalogueInformation":"第2号商品の「ARISTO青山」は、予定通り完売し現在運用中となりました。<br>多数のお問い合わせをいただき、ありがとうございました。",
		"cataloguePhoto":["01"],
		"cataloguePhotoSub":["02","03",]
	},
	{
		"isNew":"",
		"catalogueType":"",
		"catalogueID":"kyoto",
		"catalogueStatus":"investment",
		"hasPage": "true",
		"catalogueStatusJP":"運用中",
		"catalogueTitle":"ARISTO京都",
		"catalogueCaption":"2018年12月運用開始",
		"catalogueAccess":"京都府京都市中京区新京極通六角下る桜之町441－2<br>阪急京都線「河原町」駅　徒歩5分",
		"catalogueOutline":"京都中心部「田の字エリア」に位置する商業ビル",
		"catalogueInformation":"第1号商品の「ARISTO京都」は、予定通り完売し現在運用中となりました。<br>多数のお問い合わせをいただき、ありがとうございました。",
		"cataloguePhoto":["01"],
		"cataloguePhotoSub":["02"]
	}
];
%>
<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
	<%- include(srcPath + 'html/include/_gtag') %>
	<%- include(srcPath + 'html/include/_head') %>
</head>

<body class="<% if (directory!=='') { %> <%= directory %><% } else {%>home<% } %>" id="top">
	<%- include(srcPath + 'html/include/_gtag_body') %>
	<div class="page" id="data-page">
		<%- include(srcPath + 'html/include/_header') %>
		<main class="main contents">
			<header class="page-head">
				<div class="container">
					<h1 class="page-title"><ruby>ARISTO <rp>(</rp>
							<rt>アリスト</rt>
							<rp>)</rp>
						</ruby>は、好立地の優良不動産に対して<br>少額からの投資が可能な不動産小口化商品です。</h1>
					<p class="page-title--note">ARISTO(アリスト)は、株式会社エー・ディー・ワークスが提供する、<br class="is-pc">不動産特定共同事業法に基づく不動産小口化商品です。
					</p>
				</div>
			</header>
			<!-- /[.page-head] -->

			<% if(isOnsale!== ''){%><div class="block is-onSale">
				<div class="block-catalogue__body">
					<% catalogue.forEach(function(item) {%>
					<% if(item.hasPage='') {%><% } else { %><article class="catalogue-item<%if(item.catalogueType){%> -<%- item.catalogueType %><% } %>" id="catalogue-<%- item.catalogueID %>">
						<div class="catalogue-item__inner">
							<div class="catalogue__body<% if(item.catalogueStatus) { %> catalogue-<%- item.catalogueStatus%><% } %>">
								<h3 class="catalogue__title"><%- item.catalogueTitle %><% if(item.catalogueCaption) {%><span class="-caption"><%- item.catalogueCaption %></span><% } %></h3>
								<% if(item.catalogueOutline) {%><p class="catalogue__outline"><%- item.catalogueOutline %></p><% } %>
								<% if(item.catalogueAccess) {%><p class="catalogue__access"><%- item.catalogueAccess %></p><% } %>
								<% if(item.catalogueType) {%><div class="catalogue__photo"><% item.cataloguePhotoSub.forEach(function(value) {%>
									<%})%></div><% } %>
								<% if(item.hasPage) {%><a href="<%= path %><%= item.catalogueID %>" class="btn-detail">物件詳細はこちら</a><% } else { %><div class="catalogue__contact"><strong>お問い合わせはこちらから</strong><br>
									TEL : <span class="is--tel"><a href="tel:0120540949">0120-540-949</a></span><br>
									E-mail : <a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a><br>
									受付時間 9:00～18:00 （土日祝日除く）<br>
									株式会社エー・ディー・ワークス・資産運用事業本部　ウェルスマネジメント部</div><% } %>
							</div>
							<div class="catalogue__photo"><% item.cataloguePhoto.forEach(function(value) {%>
								<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% if(item.catalogueType == ''){%><% item.cataloguePhotoSub.forEach(function(value) {%>
								<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% } %>
							</div>
						</div>
						<% if(item.hasPage) {%><a href="<%= path %><%= item.catalogueID %>" class="btn-detail is-sp">物件詳細はこちら</a><% } %>
					</article><%} %><%}); %>
				</div>
			</div><%} %>

			<%# include(srcPath + 'html/include/_block-movie-aristo') %>
			<!-- /[.block-movie] -->

			<section class="block block-point" id="section-point">
				<h2 class="block__title">好立地の優良不動産へ<br class="is-sp">投資することのメリットとは？</h2>
				<div class="block__body">
					<section class="unit unit-point -point1" id="point1">
						<h3 class="unit-point__title">安定した賃料収入が期待でき、<br>かつ資産価値が落ちづらい傾向がある。</h3>
						<dl class="unit-point__image -width">
							<dt class="caption">国土交通省「地価公示」より当社作成</dt>
							<dd>
								<p>
									<picture>
										<source srcset="<%= path %>images/index/image_point1_rev5_sp.png" media="(max-width: 767px)">
										<img src="<%= path %>images/index/image_point1_rev5.png" alt="イメージ：安定した賃料収入が期待でき、かつ資産価値が落ちづらい傾向がある。">
									</picture>
								</p>
							</dd>
						</dl>
						<p class="is--notice">※物件の資産価値が下落しないことを保証するものではありません。</p>
					</section>
					<!-- /[.unit.unit-point#point1] -->
					<div class="unit aristo-note">
						<p>好立地の優良不動産に投資をするためには大きな資金が必要となります。<br>ARISTOは、不動産を小口化することで、メリットをそのままに、少額からの投資が可能です。</p>
						<p class="aristo-note__appendix">（一口100万円で最低5口からの投資になります）<br>※最低出資金額は、対象不動産により異なります。</p>
					</div>
					<section class="unit -point3-4" id="section-merit">
						<h3 class="unit__title">小口化することによる更なるメリット</h3>
						<div class="unit-point__body">
							<div class="unit unit-point unit-point--sub -point3">
								<div class="unit-point--sub__inner">
									<p class="unit-point--sub__image"><img src="<%= path %>images/index/image_point3.jpg" alt="イメージ：管理運営の手間無し"></p>
									<section class="unit-point--sub__body">
										<h4 class="unit-point--sub__title">管理運営の手間無し</h4>
										<p>入居するテナントへの対応や、日々の維持管理から、長期的な建物のメンテナンス等、不動産の管理運営には手間がかかります。そのような管理運営は当社が⼀括して執り行いますので、皆様には煩わしい手間はかかりません。</p>
									</section>
								</div>
							</div>
							<!-- /[.unit.unit-point--sub.-point3] -->
							<div class="unit unit-point unit-point--sub -point4">
								<div class="unit-point--sub__inner">
									<p class="unit-point--sub__image"><img src="<%= path %>images/index/image_point4.jpg" alt="イメージ：次世代への平等な資産承継"></p>
									<section class="unit-point--sub__body">
										<h4 class="unit-point--sub__title">次世代への平等な資産承継</h4>
										<p>口数による分割が可能であることから、実物不動産と異なり、複数人への平等な相続、贈与が容易です。</p>
									</section>
								</div>
							</div>
							<!-- /[.unit.unit-point--sub.-point4] -->
						</div>
						<p class="aristo-message">「ARISTO」は、優良不動産への投資メリットに加え、<br class="is-pc">小口化の投資メリットを兼ね備えた商品です。<br>東証プライム市場上場企業のグループ会社 エー・ディー・ワークスがご提供する<br class="is-pc">不動産小口化商品「ARISTO」を、皆様の運用先の一つとして<br class="is-pc">ぜひご検討ください。</p>
						<p class="is-note" style="margin-top:-2em;">※弊社は（株）ADワークスグループ（東証プライム市場 証券コード：2982）の100%子会社です。</p>
					</section>
					<!-- /[.unit.-point3-4] -->
				</div>
				<h2 class="block-contact__title">各種お問い合わせはこちら</h2>
				<%- include(srcPath + 'html/include/_block-contact__buttons') %>
				<%- include(srcPath + 'html/include/_block-contact') %>
			</section>
			<!-- /[.block-point#section-point] -->

			<section class="block-catalogue" id="section-catalogue">
				<h2 class="block__title"><span>ARISTO物件情報</span></h2>
				<div class="block">
					<div class="block-catalogue__body">
						<% catalogue.forEach(function(item) {%>
						<% if(item.isNew) {%>
						<article class="catalogue-item<%if(item.catalogueType){%> -<%- item.catalogueType %><% } %> catalogue-item-new" id="catalogue-<%- item.catalogueID %>">
							<div class="catalogue-item__inner">
								<div class="catalogue__body<% if(item.catalogueStatus) { %> catalogue-<%- item.catalogueStatus%><% } %>">
									<h3 class="catalogue__title"><%- item.catalogueTitle %><% if(item.catalogueCaption) {%><span class="-caption"><%- item.catalogueCaption %></span><% } %></h3>
									<% if(item.catalogueOutline) {%><p class="catalogue__outline"><%- item.catalogueOutline %></p><% } %>
									<% if(item.catalogueAccess) {%><p class="catalogue__access"><%- item.catalogueAccess %></p><% } %>
									<% if(item.catalogueType) {%><div class="catalogue__photo"><% item.cataloguePhotoSub.forEach(function(value) {%>
										<%})%></div><% } %>
									<% if(item.hasPage) {%><a href="<%= path %><%= item.catalogueID %>" class="btn-detail">物件詳細はこちら</a><% } else { %><div class="catalogue__contact"><strong>お問い合わせはこちらから</strong><br>
										TEL : <span class="is--tel"><a href="tel:0120540949">0120-540-949</a></span><br>
										E-mail : <a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a><br>
										受付時間 9:00～18:00 （土日祝日除く）<br>
										株式会社エー・ディー・ワークス・資産運用事業本部　ウェルスマネジメント部</div><% } %>
								</div>
								<div class="catalogue__photo"><% item.cataloguePhoto.forEach(function(value) {%>
									<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% if(item.catalogueType == ''){%><% item.cataloguePhotoSub.forEach(function(value) {%>
									<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% } %>
								</div>
							</div>
							<% if(item.hasPage) {%><a href="<%= path %><%= item.catalogueID %>" class="btn-detail is-sp">物件詳細はこちら</a><% } %>
						</article><%} %>

						<%}); %>
						<% catalogue.forEach(function(item) {%><% if(item.isNew=='') {%><%if(item.hasPage){%>
						<article class="catalogue-item<%if(item.catalogueType){%> -<%- item.catalogueType %><% } %>" id="catalogue-<%- item.catalogueID %>">
							<div class="catalogue-item__inner">
								<div class="catalogue__body<% if(item.catalogueStatus) { %> catalogue-<%- item.catalogueStatus%><% } %>">
									<h3 class="catalogue__title"><%- item.catalogueTitle %><% if(item.catalogueCaption) {%><span class="-caption"><%- item.catalogueCaption %></span><% } %></h3>
									<% if(item.catalogueType) {%><div class="catalogue__photo"><% item.cataloguePhotoSub.forEach(function(value) {%>
										<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div>
										<%})%>
									</div><% } %>
								</div>
								<div class="catalogue__photo"><% item.cataloguePhoto.forEach(function(value) {%>
									<div class="catalogue__photo__item -item<%- value %>"><a href="<%= path %><%= item.catalogueID %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></a></div><% }) %><% if(item.catalogueType == ''){%><% item.cataloguePhotoSub.forEach(function(value) {%>
									<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% } %>
									<a href="<%= path %><%= item.catalogueID %>" class="btn-detail">物件詳細はこちら</a>
								</div>
							</div>
							<% if(item.catalogueOutline) {%><p class="catalogue__outline"><%- item.catalogueOutline %></p><% } %>
							<% if(item.catalogueAccess) {%><p class="catalogue__access"><%- item.catalogueAccess %></p><% } %>
							<a href="<%= path %><%= item.catalogueID %>" class="btn-detail">物件詳細はこちら</a>
						</article><% } else {%>
						<article class="catalogue-item<%if(item.catalogueType){%> -<%- item.catalogueType %><% } %>" id="catalogue-<%- item.catalogueID %>">
							<div class="catalogue-item__inner">
								<div class="catalogue__body<% if(item.catalogueStatus) { %> catalogue-<%- item.catalogueStatus%><% } %>">
									<h3 class="catalogue__title"><%- item.catalogueTitle %><% if(item.catalogueCaption) {%><span class="-caption"><%- item.catalogueCaption %></span><% } %></h3>
									<% if(item.catalogueType) {%><div class="catalogue__photo"><% item.cataloguePhotoSub.forEach(function(value) {%>
										<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div>
										<%})%>
									</div><% } %>
								</div>
								<div class="catalogue__photo"><% item.cataloguePhoto.forEach(function(value) {%>
									<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% if(item.catalogueType == ''){%><% item.cataloguePhotoSub.forEach(function(value) {%>
									<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% } %>
									<a href="<%= path %><%= item.catalogueID %>" class="btn-detail">物件詳細はこちら</a>
								</div>
							</div>
							<% if(item.catalogueOutline) {%><p class="catalogue__outline"><%- item.catalogueOutline %></p><% } %>
							<% if(item.catalogueAccess) {%><p class="catalogue__access"><%- item.catalogueAccess %></p><% } %>
						</article><% } %><% } %><%}); %>
					</div>
				</div>
			</section>
			<!-- /[.block-catalogue#section-catalogue] -->
			<%#<section class="block-seminars" id="section-seminars">%>
<%#				<h2 class="block__title"><span>セミナー情報</span></h2>%>
<%#				<div class="block">%>
					<%#- include(srcPath + 'html/include/_block-seminar-body') %>
<%#				</div>%>
			<%#</section>%>

			<%- include(srcPath + 'html/include/_block-flow') %>
			<!-- /[.block-flow#section-flow] -->

			<%- include(srcPath + 'html/include/_block-faq') %>
			<!-- /[.block-flow#section-faq] -->

			<%- include(srcPath + 'html/include/_block-footer-information') %>
			<!-- /[.block.footer-information] -->

		</main>
		<!-- /[.main] -->
		<%- include(srcPath + 'html/include/_footer') %>
	</div><!-- /.page -->

	<%- include(srcPath + 'html/include/_loading') %>

	<%- include(srcPath + 'html/include/_body_last') %>

</body>

</html>
