<%
meta = { title:"株式会社エー・ディー・ワークスの不動産小口化商品 ARISTO公式サイト", desc:"" };
seminar = "";
guidance = "";
isOnsale = "";
isForm ="";
path = "./";
srcPath ="../";
directory = "";
directoryLv2 = "";
page = "";
seminarList = [
	{
		"seminarTitle": "不動産小口化商品「ARISTO高円寺」説明会",
		"seminarImage": "image_online",
		"seminarCategories": [
			{
				categoryClass: "kouenji",
				categoryLabel: "ARISTO高円寺"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2020年7月1日（水）12時30分～13時30分",
		"seminarTime": "12時30分",
		"seminarRegion": "オンライン開催",
		"seminarPlace": "オンライン開催",
		"seminarGoogleMap": "",
		"seminarFee": "無料",
		"seminarCapacity": "50名",
		"seminarOutline": "",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "202007011230_online"
	},
	{
		"seminarTitle": "不動産小口化商品「ARISTO高円寺」説明会",
		"seminarImage": "image_online",
		"seminarCategories": [
			{
				categoryClass: "kouenji",
				categoryLabel: "ARISTO高円寺"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2020年7月8日（水）18時00分～19時00分",
		"seminarTime": "18時00分",
		"seminarRegion": "オンライン開催",
		"seminarPlace": "オンライン開催",
		"seminarGoogleMap": "",
		"seminarFee": "無料",
		"seminarCapacity": "50名",
		"seminarOutline": "",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "202007081800_online"
	},
	{
		"seminarTitle": "不動産小口化商品「ARISTO高円寺」説明会",
		"seminarImage": "image_online",
		"seminarCategories": [
			{
				categoryClass: "kouenji",
				categoryLabel: "ARISTO高円寺"
			},
			{
				categoryClass: "inheritance",
				categoryLabel: "相続"
			},
		],
		"seminarDate": "2020年7月20日（月）15時00分～16時00分",
		"seminarTime": "15時00分",
		"seminarRegion": "オンライン開催",
		"seminarPlace": "オンライン開催",
		"seminarGoogleMap": "",
		"seminarFee": "無料",
		"seminarCapacity": "50名",
		"seminarOutline": "",
		"seminarContactName": "株式会社エー・ディー・ワークス　投資不動産事業本部　資産運用部",
		"seminarContactTel": "0120-540-949",
		"seminarContactMail": "&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;",
		"seminarOrganizer": "株式会社エー・ディー・ワークス",
		"seminarLink": "202007201500_online"
	}
];
catalogue = [
	{
		"catalogueID":"aoyama",
		"catalogueStatus":"investment",
		"catalogueTitle":"ARISTO青山",
		"catalogueCaption":"2019年9月運用開始",
		"catalogueAccess":"東京都港区南青山2丁目11番11号<br>東京メトロ銀座線「外苑前」駅　徒歩4分<br>東京メトロ銀座線・半蔵門線・都営地下鉄大江戸線「青山一丁目」駅<br>徒歩6分",
		"catalogueOutline":"都心の中心「港区青山」の新築ビル",
		"catalogueInformation":"第2号商品の「ARISTO青山」は、予定通り完売し現在運用中となりました。<br>多数のお問い合わせをいただき、ありがとうございました。",
		"cataloguePhoto":["01"],
		"cataloguePhotoSub":["02","03",]
	},
	{
		"catalogueType":"",
		"catalogueID":"kyoto",
		"catalogueStatus":"investment",
		"catalogueTitle":"ARISTO京都",
		"catalogueCaption":"2018年12月運用開始",
		"catalogueAccess":"京都府京都市中京区新京極通六角下る桜之町441－2<br>阪急京都線「河原町」駅　徒歩5分",
		"catalogueOutline":"京都中心部「田の字エリア」に位置する商業ビル",
		"catalogueInformation":"第1号商品の「ARISTO京都」は、予定通り完売し現在運用中となりました。<br>多数のお問い合わせをいただき、ありがとうございました。",
		"cataloguePhoto":["01"],
		"cataloguePhotoSub":["02","03",]
	}
];%><!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<%- include(srcPath + 'html/include/_gtag') %>
<%- include(srcPath + 'html/include/_head') %>
</head>
<body class="<% if (directory!=='') { %> <%= directory %><% } else {%>home<% } %>" id="top">
<div class="page" id="data-page">
<%- include(srcPath + 'html/include/_header') %>
	<main class="main contents">
		<header class="page-head">
			<div class="container">
				<h1 class="page-title"><ruby>ARISTO <rp>(</rp><rt>アリスト</rt><rp>)</rp></ruby>は、好立地の優良不動産に対して<br>少額からの投資が可能な不動産小口化商品です。</h1>
				<p class="page-title--note">ARISTO(アリスト)は、株式会社エー・ディー・ワークスが提供する、<br class="is-pc">不動産特定共同事業法に基づく不動産小口化商品です。
				</p>
			</div>
		</header>
		<!-- /[.page-head] -->

		<% if(isOnsale!== ''){%><div class="block">
			<div class="block-catalogue__body"><% catalogue.forEach(function(item) {%>
				<% if(item.catalogueID=='aoyama') {%><article class="catalogue-item<%if(item.catalogueType){%> -<%- item.catalogueType %><% } %>" id="catalogue-<%- item.catalogueID %>">
					<div class="catalogue__body<% if(item.catalogueStatus) { %> catalogue-<%- item.catalogueStatus%><% } %>">
						<h3 class="catalogue__title"><%- item.catalogueTitle %><% if(item.catalogueCaption) {%><span class="-caption"><%- item.catalogueCaption %></span><% } %></h3>
						<% if(item.catalogueAccess) {%><p class="catalogue__access"><%- item.catalogueAccess %></p><% } %>
						<% if(item.catalogueOutline) {%><p class="catalogue__outline"><%- item.catalogueOutline %></p><% } %>
						<% if(item.catalogueType) {%><div class="catalogue__photo"><% item.cataloguePhotoSub.forEach(function(value) {%>
						<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div>
						<%})%></div><% } %>
						<a href="<%= path %><%= item.catalogueID %>" class="btn-detail">物件詳細はこちら</a>
					</div>
					<div class="catalogue__photo"><% item.cataloguePhoto.forEach(function(value) {%>
						<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% if(item.catalogueType == ''){%><% item.cataloguePhotoSub.forEach(function(value) {%>
						<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% } %>
						<a href="<%= path %><%= item.catalogueID %>" class="btn-detail">物件詳細はこちら</a>
					</div>
				</article><%} %><%}); %>
			</div>
		</div><%} %>

<%# include(srcPath + 'html/include/_block-movie-aristo') %>
		<!-- /[.block-movie] -->
		
		<section class="block block-point" id="section-point">
			<h2 class="block__title">好立地の優良不動産へ<br class="is-sp">投資することのメリットとは？</h2>
			<div class="block__body">
				<section class="unit unit-point -point1" id="point1">
					<h3 class="unit-point__title">安定した賃料収入が期待でき、<br>かつ資産価値が落ちづらい傾向がある。</h3>
					<dl class="unit-point__image -width">
						<dt class="caption">国土交通省「地価公示」より当社作成</dt>
						<dd>
							<p><strong>2010年を100とした、地価変動推移（商業地）の比較</strong></p>
							<p><img src="<%= path %>images/index/image_point1_rev2.jpg" alt="イメージ：安定した賃料収入が期待でき、かつ資産価値が堕ちづらい傾向がある。"></p>
						</dd>
					</dl>
					<p class="is--notice">※物件の資産価値が下落しないことを保証するものではありません。</p>
				</section>
				<!-- /[.unit.unit-point#point1] -->
				<div class="unit aristo-note">
					<p>好立地の優良不動産に投資をするためには大きな資金が必要となります。<br>ARISTOは、不動産を小口化することで、メリットをそのままに、少額からの投資が可能です。</p>
					<p class="aristo-note__appendix">（一口100万円で最低5口からの投資になります）</p>
				</div>
				<section class="unit -point3-4" id="section-merit">
					<h3 class="unit__title">小口化することによる更なるメリット</h3>
					<div class="unit-point__body">
						<div class="unit unit-point unit-point--sub -point3">
							<div class="unit-point--sub__inner">
								<p class="unit-point--sub__image"><img src="<%= path %>images/index/image_point3.jpg" alt="イメージ：管理運営の手間無し"></p>
								<section class="unit-point--sub__body">
									<h4 class="unit-point--sub__title">管理運営の手間無し</h4>
									<p>入居するテナントへの対応や、日々の維持管理から、長期的な建物のメンテナンス等、不動産の管理運営には手間がかかります。そのような管理運営は当社が⼀括して執り行いますので、皆様には煩わしい手間はかかりません。</p>
								</section>
							</div>						
						</div>
						<!-- /[.unit.unit-point--sub.-point3] -->
						<div class="unit unit-point unit-point--sub -point4">
							<div class="unit-point--sub__inner">
								<p class="unit-point--sub__image"><img src="<%= path %>images/index/image_point4.jpg" alt="イメージ：次世代への平等な資産承継"></p>
								<section class="unit-point--sub__body">
									<h4 class="unit-point--sub__title">次世代への平等な資産承継</h4>
									<p>口数による分割が可能であることから、実物不動産と異なり、複数人への平等な相続、贈与が容易です。</p>
								</section>
							</div>
						</div>
						<!-- /[.unit.unit-point--sub.-point4] -->
					</div>
					<p class="aristo-message">「ARISTO」は、優良不動産への投資メリットに加え、<br class="is-pc">小口化の投資メリットを兼ね備えた商品です。<br>東証一部上場のエー・ディー・ワークスがご提供する不動産小口化商品<br class="is-pc">「ARISTO」を、皆様の運用先の一つとして<br class="is-pc">ぜひご検討ください。</p>
				</section>
				<!-- /[.unit.-point3-4] -->
			</div>
			<h2 class="block-contact__title">各種お問い合わせはこちら</h2>
<%- include(srcPath + 'html/include/_block-contact__buttons') %>
<%- include(srcPath + 'html/include/_block-contact') %>
		</section>
		<!-- /[.block-point#section-point] -->
		
		<section class="block-catalogue" id="section-catalogue">
			<h2 class="block__title"><span>ARISTO物件情報</span></h2>
			<div class="block">
				<div class="block-catalogue__body"><% catalogue.forEach(function(item) {%>
					<article class="catalogue-item<%if(item.catalogueType){%> -<%- item.catalogueType %><% } %>" id="catalogue-<%- item.catalogueID %>">
						<div class="catalogue__body<% if(item.catalogueStatus) { %> catalogue-<%- item.catalogueStatus%><% } %>">
							<h3 class="catalogue__title"><%- item.catalogueTitle %><% if(item.catalogueCaption) {%><span class="-caption"><%- item.catalogueCaption %></span><% } %></h3>
							<% if(item.catalogueAccess) {%><p class="catalogue__access"><%- item.catalogueAccess %></p><% } %>
							<% if(item.catalogueOutline) {%><p class="catalogue__outline"><%- item.catalogueOutline %></p><% } %>
							<% if(item.catalogueType) {%><div class="catalogue__photo"><% item.cataloguePhotoSub.forEach(function(value) {%>
							<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div>
							<%})%></div><% } %>
							<a href="<%= path %><%= item.catalogueID %>" class="btn-detail">物件詳細はこちら</a>
						</div>
						<div class="catalogue__photo"><% item.cataloguePhoto.forEach(function(value) {%>
							<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% if(item.catalogueType == ''){%><% item.cataloguePhotoSub.forEach(function(value) {%>
							<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %><% } %>
							<a href="<%= path %><%= item.catalogueID %>" class="btn-detail">物件詳細はこちら</a>
						</div>
					</article><%}); %>
				</div>
			</div>
		</section>
		<!-- /[.block-catalogue#section-catalogue] -->
		
		<section class="block-seminars" id="section-seminars">
			<h2 class="block__title"><span>セミナー情報</span></h2>
			<div class="block">
<%- include(srcPath + 'html/include/_block-seminar-body') %>
			</div>
		</section>
		<!-- /[.block-seminars#section-seminars] -->

<%- include(srcPath + 'html/include/_block-flow') %>
		<!-- /[.block-flow#section-flow] -->

<%- include(srcPath + 'html/include/_block-faq') %>
		<!-- /[.block-flow#section-faq] -->

<%- include(srcPath + 'html/include/_block-footer-information') %>
		<!-- /[.block.footer-information] -->

	</main>
	<!-- /[.main] -->
<%- include(srcPath + 'html/include/_footer') %>
</div><!-- /.page -->

<%- include(srcPath + 'html/include/_loading') %>

<%- include(srcPath + 'html/include/_body_last') %>

</body>
</html>
