<%
meta = { title:'東証プライム市場上場　株式会社エー・ディー・ワークスの不動産小口化商品 ARISTO公式サイト', desc:'' };
isForm = '';
path = './';
srcPath = '../';
directory = '';
directoryLv2 = '';
page = 'teaser';
%><!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<%- include(srcPath + 'html/include/_gtag') %>
<%- include(srcPath + 'html/include/_head') %>
</head>
<body class="<% if (directory!=='') { %> <%= directory %><% } else {%>home<% } %><% if (page!=='') { %> <%= page %><%} %>" id="top">
<%- include(srcPath + 'html/include/_gtag_body') %>
<div class="page" id="data-page">
<%- include(srcPath + 'html/include/_header-teaser') %>
	<main class="main contents">
		<header class="page-head teaser">
			<div class="container">
				<h1 class="page-title"><ruby>ARISTO <rp>(</rp><rt>アリスト</rt><rp>)</rp></ruby>は、好立地の優良不動産に対して<br>最低出資金額「500万円」からの投資が可能な<br>不動産小口化商品です。</h1>
				<p class="page-title--note">ARISTO(アリスト)は、株式会社エー・ディー・ワークスが提供する、<br class="is-pc">不動産特定共同事業法に基づく不動産小口化商品です。
				</p>
			</div>
		</header>
		<!-- /[.page-head] -->
		
		<section class="block-instruments" id="section-instruments">
            <h2 class="block__title"><span>ARISTO第一号商品</span></h2>
            <div class="top-carousel">
				<div class="top-carousel__inner" id="data-carousel">
					<div class="top-carousel__item"><img src="<%= path %>images/index/photo_kyoto01.jpg" alt=""></div>
					<div class="top-carousel__item"><img src="<%= path %>images/index/photo_kyoto02.jpg" alt=""></div>
					<div class="top-carousel__item"><img src="<%= path %>images/index/photo_kyoto03.jpg" alt=""></div>
					<div class="top-carousel__item"><img src="<%= path %>images/index/photo_kyoto04.jpg" alt=""></div>
				</div>
				<div class="top-carousel__message">
					<div class="top-carousel__message__inner">
						<h3 class="top-carousel__title">歴史に<br class="is-pc">守られながら<br class="is-pc">進化する<br class="is-pc">京都という<br class="is-pc">価値。</h3>
						<p class="top-carousel__body">世界が注目する都市古都京都。<br>
						歴史に導かれ、文化を刻み<br class="is-pc">今も人々を魅了し続けています。<br>
						世界を魅き付けるここ京都の地から<br class="is-pc">エー・ディー・ワークスの不動産小口化商品を<br class="is-pc">お届けします。</p>
						<p class="top-carousel__map"><img src="<%= path %>images/index/map_kyoto.png" alt=""></p>
					</div>
				</div>
			</div>
			<!-- /[.top-carousel] -->
			
		</section>
		<!-- /[.block-instruments#section-instruments] -->
		
		<section class="block block-location" id="section-location">
			<h2 class="unit__title"><span>ロケーション</span></h2>
			<div class="unit-map__body">
				<p class="unit-map__main"><img src="<%= path %>images/index/map_aristo_wide.jpg" alt="地図"></p>
				<ul class="unit-map__nav">
					<li class="unit-map__nav__item"><a href="<%= path %>images/index/map_aristo_wide.jpg">広域<br>地図</a></li>
					<li class="unit-map__nav__item"><a href="<%= path %>images/index/map_aristo_around.jpg">周辺<br>地図</a></li>
				</ul>
			</div>
			<p>ARISTO京都は「田の字エリア」に位置します。<br>
				「田の字エリア」は、ターミナル駅や観光名所へのアクセスが良く京都市の中枢で資産価値の高いブランドエリアと言えます。<br>
				またインバウンド需要の恩恵を受けやすいエリアと考えられます。</p>
		</section>
		<!-- /[.block.block-location#section-location] -->

		<section class="block block-products" id="section-products">
			<h2 class="unit__title"><span>商品概要</span></h2>
			<div class="block-products__body">
				<table class="outline-table">
					<tr>
						<th>募集総額</th>
						<td>12億2千万円</td>
					</tr>
					<tr>
						<th>募集総口数</th>
						<td>1220口</td>
					</tr>
					<tr>
						<th>組合組成予定日</th>
						<td>2018年12月21日予定</td>
					</tr>
					<tr>
						<th>予定運用期間</th>
						<td>15年間</td>
					</tr>
					<tr>
						<th>お申込単位</th>
						<td>
							<dl>
								<dt>1口100万円単位</dt>
								<dd class="indent">最低出資金額500万円（5口）<br>
									最高出資金額3億円（300口）<br>
									（500万円以上であれば、100万円単位で出資額をお決め頂けます。）</dd>
							</dl>
						</td>
					</tr>
					<tr>
						<th>必要経費</th>
						<td>不動産取得税等（1口あたりの目安約7,341円）</td>
					</tr>
					<tr>
						<th>支払期日</th>
						<td>2018年12月14日予定</td>
					</tr>
					<tr>
						<th>売買代金に代金に対する賃料利回り</th>
						<td>
							<p>4.46％</p>
							<p>※売買代金に対する予定賃料利回りとは、「満室時の年間の賃料収入等の総額」÷「募集総額」で算出しています。なお売買代金に対する予定賃料利回りは想定であり、元本や分配金が将来にわたって保証されるものではありません。</p>
						</td>
					</tr>
					<tr>
						<th>投資コストに対する予定分配金利回り</th>
						<td>
							<p>3.91％</p>
							<p>※投資コストに対する予定分配金利回りとは、「年間の現金分配額」÷「（募集総額＋必要経費）」で算出しています。なお投資コストに対する予定分配金利回りは想定であり、元本や分配金が将来にわたって保証されるものではありません。</p>
						</td>
					</tr>
					<tr>
						<th>収益分配</th>
						<td>年1回（2月）</td>
					</tr>
					<tr>
						<th>不動産特定共同事業者</th>
						<td>株式会社エー・ディー・ワークス<br>東京都知事　第96号</td>
					</tr>
					<tr>
						<th>事業者との関係</th>
						<td>事業者株式会社エー・ディー・ワークス自らが不動産特定共同事業契約の当事者となります。</td>
					</tr>
					<tr>
						<th>契約形態</th>
						<td>不動産特定共同事業法に基づく任意組合契約</td>
					</tr>
				</table>
			</div>
		</section>
		<!-- /[.block.block-products#section-products] -->

		<section class="block block-property" id="section-property">
			<h2 class="unit__title"><span>物件概要</span></h2>
			<div class="block-property__body">
				<table class="outline-table multi-head">
					<tr>
						<th>物件</th>
						<td>
							<dl class="in-table"><dt>名称</dt><dd>ARISTO新京極</dd></dl>
							<dl class="in-table"><dt>権利</dt><dd>所有権</dd></dl>
						</td>
					</tr>
					<tr>
						<th>所在地</th>
						<td>
							<dl class="in-table"><dt>地番</dt><dd>京都府京都市中京区新京極通六角下る桜之町441番2</dd></dl>
							<dl class="in-table"><dt>住居表示</dt><dd>京都府京都市中京区新京極通六角下る桜之町441－2</dd></dl>
						</td>
					</tr>
					<tr>
						<th>交通</th>
						<td>
							<dl class="in-table"><dt> </dt><dd>阪急京都線「河原町」駅　徒歩5分 </dd></dl>
						</td>
					</tr>
					<tr>
						<th>土地</th>
						<td>
							<dl class="in-table"><dt>公簿面積 </dt><dd>161.89m<sup>2</sup> （48.97坪） </dd></dl>
							<dl class="in-table"><dt>実測面積 </dt><dd>162.32m<sup>2</sup> （49.10坪）</dd></dl>
							<dl class="in-table"><dt>地目</dt><dd>宅地</dd></dl>
							<dl class="in-table"><dt>接道</dt><dd><p>北側幅員約5m公道</p><p>西側幅員約6m公道</p></dd></dl>
						</td>
					</tr>
					<tr>
						<th>建物</th>
						<td>
							<dl class="in-table"><dt>家屋番号</dt><dd>441番2の2</dd></dl>
							<dl class="in-table"><dt>種類</dt><dd>店舗</dd></dl>
							<dl class="in-table"><dt>構造規模</dt><dd>鉄骨造陸屋根3階建</dd></dl>
							<dl class="in-table"><dt>延床面積</dt><dd>411.95m<sup>2</sup>（公簿）　</dd></dl>
							<dl class="in-table"><dt>竣工</dt><dd>1998年6月</dd></dl>
						</td>
					</tr>
					<tr>
						<th>公法上の制限</th>
						<td>
							<dl class="in-table"><dt>都市計画区域</dt><dd>市街化区域</dd></dl>
							<dl class="in-table"><dt>用途地域</dt><dd>商業地域</dd></dl>
							<dl class="in-table"><dt>地域・地区</dt><dd><p>防火地域</p><p>31m高度地区</p><p>駐車場整備地区</p><p>既成都市区域</p></dd></dl>
							<dl class="in-table"><dt>建蔽率</dt><dd>80%</dd></dl>
							<dl class="in-table"><dt>容積率</dt><dd>700%</dd></dl>
						</td>
					</tr>
				</table>
			</div>
		</section>
		<!-- /[.unit.block-property#section-property] -->	
			
<%- include(srcPath + 'html/include/_block-footer-information') %>
		<!-- /[.block.footer-information] -->

	</main>
	<!-- /[.main] -->
<%- include(srcPath + 'html/include/_footer') %>
</div><!-- /.page -->


<%- include(srcPath + 'html/include/_body_last') %>

</body>
</html>
