<%
meta = { title:'東証プライム市場上場株式会社エー・ディー・ワークスの不動産小口化商品 ARISTO公式サイト', desc:'' };
isForm = '';
path = './';
srcPath ='../';
directory = '';
directoryLv2 = '';
page = '';
%><!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<%- include(srcPath + 'html/include/_gtag') %>
<%- include(srcPath + 'html/include/_head') %>
</head>
<body class="<% if (directory!=='') { %> <%= directory %><% } else {%>home<% } %>" id="top">
<div class="page" id="data-page">
<%- include(srcPath + 'html/include/_header') %>
	<main class="main contents">
		<header class="page-head">
			<div class="container">
				<h1 class="page-title"><ruby>ARISTO <rp>(</rp><rt>アリスト</rt><rp>)</rp></ruby>は、好立地の優良不動産に対して<br>最低出資金額「500万円」からの投資が可能な<br>不動産小口化商品です。</h1>
				<p class="page-title--note">ARISTO(アリスト)は、株式会社エー・ディー・ワークスが提供する、<br class="is-pc">不動産特定共同事業法に基づく不動産小口化商品です。
				</p>
			</div>
		</header>
		<!-- /[.page-head] -->
		
		<section class="block block-point" id="section-point">
			<h2 class="block__title">好立地の優良不動産へ<br class="is-sp">投資することのメリットとは？</h2>
			<div class="block__body">
				<section class="unit unit-point -point1" id="point1">
					<h3 class="unit-point__title">安定した賃料収入が期待でき、<br>かつ資産価値が落ちづらい傾向がある。</h3>
					<dl class="unit-point__image">
						<dt class="caption">京都府「地価調査」より作成</dt>
						<dd><img src="<%= path %>images/index/image_point1.jpg" alt="イメージ：安定した賃料収入が期待でき、かつ資産価値が堕ちづらい傾向がある。"></dd>
					</dl>
					<p class="is--notice">※物件の資産価値が下落しないことを保証するものではありません。</p>
				</section>
				<!-- /[.unit.unit-point#point1] -->
				<section class="unit unit-point -point2" id="point2">
					<h3 class="unit-point__title">不動産は、相続・贈与時に時価と<br class="is-sp">評価額の差が大きいことから<br>資産の圧縮効果を得ることができる。</h3>
					<p class="unit-point__image"><img src="<%= path %>images/index/image_point2.jpg" alt="イメージ：不動産は、相続・贈与時に時価と評価額の差が大きいことから資産の圧縮効果を得ることができる。"></p>
					<p class="is--notice">※図はあくまでもイメージであり、圧縮効果は不動産によって異なります。  また、税制の変更等により効果の幅も変わります。</p>
				</section>
				<!-- /[.unit.unit-point#point2] -->
				<div class="unit aristo-note">
					<p>好立地の優良不動産に投資をするためには大きな資本が必要となります。<br>ARISTOは、不動産を小口化することで、メリットをそのままに、500万円からの投資が可能です。</p>
					<p class="aristo-note__appendix">（一口100万円で最低5口からの投資になります）</p>
				</div>
				<section class="unit -point3-4" id="section-merit">
					<h3 class="unit__title">小口化することによる更なるメリット</h3>
					<div class="unit-point__body">
						<div class="unit unit-point unit-point--sub -point3">
							<div class="unit-point--sub__inner">
								<p class="unit-point--sub__image"><img src="<%= path %>images/index/image_point3.jpg" alt="イメージ：管理運営の手間無し"></p>
								<section class="unit-point--sub__body">
									<h4 class="unit-point--sub__title">管理運営の手間無し</h4>
									<p>入居するテナントへの対応や、日々の維持管理から、長期的な建物のメンテナンス等、不動産の管理運営には手間がかかります。そのような管理運営は当社が⼀括して執り行いますので、皆様には煩わしい手間はかかりません。</p>
								</section>
							</div>						
						</div>
						<!-- /[.unit.unit-point--sub.-point3] -->
						<div class="unit unit-point unit-point--sub -point4">
							<div class="unit-point--sub__inner">
								<p class="unit-point--sub__image"><img src="<%= path %>images/index/image_point4.jpg" alt="イメージ：次世代への平等な資産承継"></p>
								<section class="unit-point--sub__body">
									<h4 class="unit-point--sub__title">次世代への平等な資産承継</h4>
									<p>口数による分割が可能であることから、実物不動産と異なり、複数人への平等な相続、贈与が容易です。</p>
								</section>
							</div>
						</div>
						<!-- /[.unit.unit-point--sub.-point4] -->
					</div>
					<p class="aristo-message">「ARISTO」は、優良不動産への投資メリットに加え、<br class="is-pc">小口化の投資メリットを兼ね備えた商品です。<br>東証プライム市場上場のエー・ディー・ワークスがご提供する不動産小口化商品<br class="is-pc">「ARISTO」を、皆様の運用先の一つとして<br class="is-pc">ぜひご検討ください。</p>
				</section>
				<!-- /[.unit.-point3-4] -->
			</div>
			<h2 class="block-contact__title">資料請求・お問い合わせはこちら</h2>
            <a href="<%= path %>request/" class="btn-detail block-contact__button">Webお問い合わせフォーム</a>
<%- include(srcPath + 'html/include/_block-contact') %>
		</section>
		<!-- /[.block-point#section-point] -->
		
		<section class="block-instruments" id="section-instruments">
			<h2 class="block__title"><span>ARISTO第一号商品</span></h2>
			<div class="top-carousel">
				<div class="top-carousel__inner" id="data-carousel">
					<div class="top-carousel__item"><img src="<%= path %>images/index/photo_kyoto01.jpg" alt=""></div>
					<div class="top-carousel__item"><img src="<%= path %>images/index/photo_kyoto02.jpg" alt=""></div>
					<div class="top-carousel__item"><img src="<%= path %>images/index/photo_kyoto03.jpg" alt=""></div>
					<div class="top-carousel__item"><img src="<%= path %>images/index/photo_kyoto04.jpg" alt=""></div>
				</div>
				<div class="top-carousel__message">
					<div class="top-carousel__message__inner">
						<h3 class="top-carousel__title">歴史に<br class="is-pc">守られながら<br class="is-pc">進化する<br class="is-pc">京都という<br class="is-pc">価値。</h3>
						<p class="top-carousel__body">世界が注目する都市古都京都。<br>
						歴史に導かれ、文化を刻み<br class="is-pc">今も人々を魅了し続けています。<br>
						世界を魅き付けるここ京都の地から<br class="is-pc">エー・ディー・ワークスの不動産小口化商品を<br class="is-pc">お届けします。</p>
						<p class="top-carousel__map"><img src="<%= path %>images/index/map_kyoto.png" alt=""></p>
					</div>
				</div>
			</div>
			<!-- /[.top-carousel] -->
			
			<div class="block-title" id="section-title">
				<div class="block -available pre-open">
					<h2 class="block-title__logo"><img src="<%= path %>images/common/logo_aristo-kyoto.jpg" alt="ARISTO京都"></h2>
				</div>
				<section class="unit-kyoto" id="section-kyoto--merit">
					<h3 class="unit-kyoto__title">京都不動産投資のメリット</h3>
					<div class="block unit-kyoto__body">
						<div class="unit-kyoto--merit1" id="section-kyoto-merit1">
							<p class="unit-kyoto--merit__title">京都市内中心部商業地の賃料・不動産価格は上昇傾向。</p>
							<div class="unit unit-merit -merit1" id="section-merit1">
								<h4 class="unit-merit__head unit-merit1">インバウンド需要拡大の恩恵を受ける<br class="is-pc">京都市内中心部の物販・飲食業が好調で<br class="is-pc">京都市内中心部商業地の賃料・不動産価格は上昇傾向にある。</h4>
								<div class="block--merit1">
									<div class="unit-merit unit-merit--inbound">
										<section class="unit-merit__item -inbound" id="section-growth-inbound">
											<h5 class="unit-merit__title">インバウンド需要の拡大</h5>
											<div class="unit-point__image">
												<p><img src="<%= path %>images/index/figure_growth01.png" alt="京都市宿泊客数（除く民泊、万人）"></p>
												<p class="caption">京都市「京都観光総合調査」H28年より当社作成</p>
											</div>
										</section>
										<!-- /[.unit-merit__item.-inbound#section-growth-inbound] -->
										<section class="unit-merit__item -consumption" id="section-growth-consumption">
											<h5 class="unit-merit__title">京都市内観光消費額は上昇傾向</h5>
											<div class="unit-merit__body">
												<div class="unit-point__image">
													<p><img src="<%= path %>images/index/figure_growth02.png" alt="京都市観光消費額（億円）"></p>
													<p class="caption">京都市「京都観光総合調査」H28年より当社作成</p>
												</div>
												<div class="unit-point__table">
													<table>
														<thead>
															<tr>
																<th colspan="2">高島屋店舗</th>
																<th>上：売上高（億円）<br>下：前年比増減率（％）</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<th>関西</th>
																<td>京都店</td>
																<td>88,126<br><strong>3.9%</strong></td>
															</tr>
															<tr>
																<th rowspan="3">関東</th>
																<td>日本橋店</td>
																<td>134,241<br>1.0%</td>
															</tr>
															<tr>
																<td>横浜店</td>
																<td>131,649<br>1.7%</td>
															</tr>
															<tr>
																<td>新宿店</td>
																<td>73,331<br>3.5%</td>
															</tr>
														</tbody>
													</table>
													<p class="caption">株式会社高島屋2018年2月期決算補足資料<br>「店舗別売上高等」より当社作成</p>
												</div>
											</div>
										</section>
										<!-- /[.unit-merit__item.-consumption#section-growth-consumption] -->
									</div>
									<section class="unit-merit -rent" id="section-growth-rent">
										<h5 class="unit-merit__title">賃料相場が上昇</h5>
										<div class="unit-merit__body">
											<ul class="rent-market">
												<li class="rent-market__item"><img src="<%= path %>images/index/image_rental-rate_2017.png" alt="賃料相場：2017年秋"></li>
												<li class="rent-market__item"><img src="<%= path %>images/index/image_rental-rate_2018.png" alt="賃料相場：2018年春"></li>
											</ul>
											<p class="caption">一般財団法人日本不動産研究所、株式会社ピーエーシー・アーバンプロジェクト、スタイルアクト株式会社<br>2017年秋及び2018年春公表資料より当社作成</p>
										</div>
									</section>
									<!-- /[unit-merit.-rent#section-growth-rent] -->
									<section class="unit-merit -land-price">
										<h5 class="unit-merit__title">地価（商業地）が上昇傾向</h5>
										<div class="unit-merit__body">
											<div class="unit-point__image">
												<p><img src="<%= path %>images/index/figure_land-price.png" alt="グラフ：京都市の商業地平均地価の推移"></p>
												<p class="caption">京都府「地価調査」より当社作成</p>
											</div>
										</div>
									</section>
									<!-- /[section.unit-merit.-land-price] -->
								</div>
								<!-- /[.unit.unit-merit#section-growth] -->
							</div>
							<!-- /[.unit-merit.-merit1#section-merit1] -->

						</div>
						<div class="unit-kyoto--merit2" id="section-kyoto-merit2">
							<p class="unit-kyoto--merit__title">景観保全で建築規制が厳しく、不動産供給に一定の制限がかかる傾向。</p>
							<div class="unit unit-merit -merit2" id="section-merit2">
								<h3 class="unit-merit__head unit-merit1">景観保全で建築規制が厳しく、不動産供給に一定の制限が掛かる傾向。<br class="is-pc">よって市内中心部好立地の不動産は今後も希少性が高い可能性。</h3>
								<div class="block--merit2">
									<section class="unit-merit -regulation1" id="section-regulation1">
										<h4 class="unit-merit__title">規制例1</h4>
										<h5 class="unit-merit__subtitle"><span class="main">建物の高さ規制の強化</span><span class="sub">（2007年：高度地区による高さ規制）</span></h5>
										<div class="unit-merit__body">
											<div class="unit-merit__body__image"><img src="<%= path %>images/index/image_merit2-1.png" alt="図：建物の高さ規制の強化"></div>
											<div class="unit-merit__body__main">
												<p class="main">風情ある京町屋の景観保全を<br class="is-pc">目的として建築物の<br class="is-pc">高さ最高限度を<br class="is-pc">41mから31mへ規制強化</p>
												<p class="note">例：都心部の幹線道路沿道等</p>
											</div>
										</div>
									</section>
									<!-- /[.unit-merit.-regulation1#section-regulation1] -->
									<section class="unit-merit -regulation2" id="section-regulation2">
										<h4 class="unit-merit__title">規制例2</h4>
										<h5 class="unit-merit__subtitle"><span class="main">眺望景観や借景の保全による高さ制限</span><span class="sub">（2007年：京都市眺望景観創生条例）</span></h5>
										<div class="unit-merit__body">
											<div class="unit-merit__body__image"><img src="<%= path %>images/index/image_merit2-2.png" alt="図：眺望景観や借景の保全による高さ制限"></div>
											<div class="unit-merit__body__main">
												<p class="main">世界遺産に登録されている社寺等か<br class="is-pc">らの眺望景観を保全するための条約<br class="is-pc">であり、そこからの眺めを遮る建物<br class="is-pc">の高さ、デザインを規制します。</p>
												<p class="note">例：賀茂川西岸からの「大文字」</p>
												<p class="note">京都新聞2007年2月5日新景観政策概要より抜粋</p>
											</div>
										</div>
									</section>
									<!-- /[.unit-merit.-regulation2#section-regulation2] -->
								</div>
							</div>
							<!-- /[.unit-merit.-merit1#section-merit2] -->
						</div>
					</div>
				</section>
				<!-- /[.unit-kyoto#section-kyoto--merit] -->
			</div>
			<!-- /[.block-title#section-title] -->
		</section>
		<!-- /[.block-instruments#section-instruments] -->
		
		<section class="block block-location" id="section-location">
			<h2 class="unit__title"><span>ロケーション</span></h2>
			<div class="unit-map__body">
				<p class="unit-map__main"><img src="<%= path %>images/index/map_aristo_wide.jpg" alt="地図"></p>
				<ul class="unit-map__nav">
					<li class="unit-map__nav__item"><a href="<%= path %>images/index/map_aristo_wide.jpg">広域<br>地図</a></li>
					<li class="unit-map__nav__item"><a href="<%= path %>images/index/map_aristo_around.jpg">周辺<br>地図</a></li>
				</ul>
			</div>
			<p>ARISTO京都は「田の字エリア」に位置します。<br>
				「田の字エリア」は、ターミナル駅や観光名所へのアクセスが良く京都市の中枢で資産価値の高いブランドエリアと言えます。<br>
				またインバウンド需要の恩恵を受けやすいエリアと考えられます。</p>
		</section>
		<!-- /[.block.block-location#section-location] -->

		<section class="block block-shinkyougoku" id="section-shinkyougoku">
			<h2 class="unit__title"><span>新京極通</span></h2>
			<div class="block-shinkyougoku__body">
				<div class="block-shinkyougoku__body__items">
					<div class="block-shinkyogoku-images">
						<div class="gallery-images__main"></div>
						<ul class="gallery-images__thumbnail">
							<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/index/photo_shinkyougoku01.jpg" alt="新京極通：写真01"></li>
							<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/index/photo_shinkyougoku02.jpg" alt="新京極通：写真02"></li>
							<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/index/photo_shinkyougoku03.jpg" alt="新京極通：写真03"></li>
							<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/index/photo_shinkyougoku04.jpg" alt="新京極通：写真04"></li>
						</ul>
						<p class="gallery-images__caption">撮影日：2018年5月</p>
					</div>
				</div>
				<div class="block-shinkyougoku__body__items">
					<h3 class="block-shinkyougoku__body__title">田の字エリア（三条通～四条通）を南北に貫く商店街。</h3>
					<p>天正年間（1573年~1592年）、豊臣秀吉が市中の多くの寺院を寺町通りに集めたことで、各寺院の境内が縁日の舞台として利用され、周辺が見世物や催し物を中心に発展していきました。</p>
					<p>その後、明治5年（1872年）に京都府参事槇村正直により、寺院の境内を整理し、新たな通りが作られ、新京極通りとなりました。</p>
					<p>明治10年（1877年）ごろには芝居座、浄瑠璃、寄席などの興行場や飲食店など、多くの店舗が立ち並び、明治30年代には東京の浅草、大阪の千日前とともににほんを代表する盛り場として知られるようになりました。</p>
					<p>その後も、劇場・映画館・園芸場が多く立ち並び、京都座、京都松竹座、京都宝塚劇場など娯楽の通りとして発展し、近年では地元向け、観光客向けの商店が混在する商店街として賑わいが続いています。</p>
				</div>
			</div>	
		</section>
		<!-- /[.block.block-shinkyougokut#section-shinkyougoku] -->
		
		<section class="block block-characteristic" id="section-characteristic">
			<h2 class="unit__title"><span>対象不動産の特性</span></h2>
			<div class="block__body">
				<div class="block-characteristic__image">
					<p><img src="<%= path %>images/index/image_arcade.jpg" alt="図：対象不動産の特性"></p>
					<p class="caption">※赤点線はアーケードのイメージです</p>
				</div>
				<div class="block-characteristic__body">
					<h3 class="title">立地特性</h3>
					<p class="indent">・「広場に面していること」、「間口が非常に広いこと(※)」、「2面接道であること」から、繁華性の高い新京極通りの中でも極めて視認性の高い希少立地であるといえます。</p>
					<p class="indent">・アーケードによる視線の遮りがなく、上層階まで物件を認識することができます。<br>※周辺物件は、間口が狭く奥行きがある”うなぎの寝床”と言われる店誦が一般的であるのに対して、本件は極めて間口が広く、商業地として希少性が高いといえます。</p>
					<h3 class="title">ガラス張りの外観（建物特性）</h3>
					<p>視認性の高い立地を生かしたインパクトのある外観といえます。 また、外から建物内部を見通すことができ、店舗内へ歩行者を誘引しやすく、商業ビルとしての強みになります。</p>
					<ul class="characteristic-images">
						<li class="characteristic-images__item">
							<p><img src="<%= path %>images/index/photo_surroundings1.jpg" alt="写真：周辺店舗"></p>
							<p class="caption">周辺店舗</p>
						</li>
						<li class="characteristic-images__item">
							<p><img src="<%= path %>images/index/photo_surroundings2.jpg" alt="写真：ARISTO 京都"></p>
							<p class="caption">ARISTO 京都</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="block-characteristic-images">
				<div class="gallery-images__main"></div>
				<ul class="gallery-images__thumbnail">
					<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/index/image_perspective01.jpg" alt="ARISTO京都：イメージ01"></li>
					<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/index/image_perspective02.jpg" alt="ARISTO京都：イメージ02"></li>
					<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/index/image_perspective03.jpg" alt="ARISTO京都：イメージ03"></li>
					<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/index/image_perspective04.jpg" alt="ARISTO京都：イメージ04"></li>
				</ul>
				<p class="gallery-images__caption">※上記掲載の完成予想図は計画段階の図面を基に描いたもので実際とは異なる場合があります。</p>
			</div>
		</section>
		<!-- /[.block.block-characteristic#section-characteristic] -->

		<section class="block block-surroundings" id="section-surroundings">
			<h2 class="unit__title"><span>商業ビルとしての価値の高まり</span></h2>
			<p class="block-surroundings__lead">本件周辺ではホテル開発が進んでいるため、 今後も本件ではインバウンド需要の恩恵を受けやすい。<br class="is-pc">飲食・物販テナントの出店ニーズが高まる可能性。</p>
			<div class="block-surroundings__body">
				<div class="block-surroundings__items"><img src="<%= path %>images/index/image_surroundings.jpg" alt="「田の字エリア」地区概念図"></div>
				<div class="block-surroundings__items">
					<ol class="list-hotels">
						<li class="list-hotels__item">
							<p class="label">ホテル</p>
							<p><img src="<%= path %>images/index/photo_hotelgracery.jpg" alt="ホテルグレイスリー京都三条写真：2018年5月撮影"></p>
							<p class="name">ホテルグレイスリー京都三条<br>（2017年5月開業）</p>
						</li>
						<li class="list-hotels__item">
							<p class="label">ホテル</p>
							<p><img src="<%= path %>images/index/photo_themillenials.jpg" alt="ザミレニアルズ京都写真：2018年5月撮影"></p>
							<p class="name">ザミレニアルズ京都<br>（2017年7月開業）</p>
						</li>
						<li class="list-hotels__item">
							<p class="label">ホテル</p>
							<p><img src="<%= path %>images/index/photo_thegate.jpg" alt="ザ・ゲート立誠京都写真：2018年5月撮影"></p>
							<p class="name">ザ・ゲート立誠京都<br>（2020年春開業）</p>
						</li>
						<li class="list-hotels__item">
							<p class="label">ホテル</p>
							<p><img src="<%= path %>images/index/photo_honnouji.jpg" alt="ホテル本能寺本館写真：2018年5月撮影"></p>
							<p class="name">ホテル本能寺本館<br>（2019年秋開業）</p>
						</li>
						<li class="list-hotels__item">
							<p class="label">ホテル</p>
							<p><img src="<%= path %>images/index/photo_firstcabin.jpg" alt="ファーストキャビン京都河原町三条写真：2018年5月撮影"></p>
							<p class="name">ファーストキャビン京都河原町三条<br>（2017年12月開業）</p>
						</li>
						<li class="list-hotels__item">
							<p class="label">ホテル</p>
							<p><img src="<%= path %>images/index/photo_hotelresol.jpg" alt="ホテルリソル京都河原町三条写真：2018年5月撮影"></p>
							<p class="name">ホテルリソル京都河原町三条<br>（2018年6月開業）</p>
						</li>
						<li class="list-hotels__item">
							<p class="label">ホテル</p>
							<p><img src="<%= path %>images/index/photo_crosshotel.jpg" alt="クロスホテル京都写真：2018年5月撮影"></p>
							<p class="name">クロスホテル京都<br>（2018年秋開業）</p>
						</li>
						<li class="list-hotels__item">
							<p class="label">ホテル等</p>
							<p><img src="<%= path %>images/index/photo_sakaiza.jpg" alt="京都松竹阪井座ビル写真：2018年5月撮影"></p>
							<p class="name">京都松竹阪井座ビル<br>（2018年秋開業）</p>
						</li>
						<li class="list-hotels__item">
							<p class="label">ホテル等</p>
							<p><img src="<%= path %>images/index/photo_biostyle.jpg" alt="BIO-Style京都写真：2018年5月撮影"></p>
							<p class="name">BIO-Style京都<br>（2019年春開業）</p>
						</li>
						<li class="list-hotels__item">
							<p class="label">ホテル等</p>
							<p><img src="<%= path %>images/index/photo_shinpuhkan.jpg" alt="新風館写真：2018年5月撮影"></p>
							<p class="name">新風館<br>（2019年秋開業）</p>
						</li>
					</ol>
					<p class="caption">撮影日：2018年5月</p>
				</div>
			</div>
			<h2 class="block-contact__title">資料請求・お問い合わせはこちら</h2>
            <a href="<%= path %>request/" class="btn-detail block-contact__button">Webお問い合わせフォーム</a>
<%- include(srcPath + 'html/include/_block-contact') %>
		</section>
		<!-- /[.block.block-surroundings#section-surroundings] -->

		<section class="block block-products" id="section-products">
			<h2 class="unit__title"><span>商品概要</span></h2>
			<div class="block-products__body">
				<table class="outline-table">
					<tr>
						<th>募集総額</th>
						<td>12億2千万円</td>
					</tr>
					<tr>
						<th>募集総口数</th>
						<td>1220口</td>
					</tr>
					<tr>
						<th>組合組成予定日</th>
						<td>2018年12月21日予定</td>
					</tr>
					<tr>
						<th>予定運用期間</th>
						<td>15年間</td>
					</tr>
					<tr>
						<th>お申込単位</th>
						<td>
							<dl>
								<dt>1口100万円単位</dt>
								<dd class="indent">最低出資金額500万円（5口）<br>
									最高出資金額3億円（300口）<br>
									（500万円以上であれば、100万円単位で出資額をお決め頂けます。）</dd>
							</dl>
						</td>
					</tr>
					<tr>
						<th>必要経費</th>
						<td>不動産取得税等（1口あたりの目安約7,341円）</td>
					</tr>
					<tr>
						<th>支払期日</th>
						<td>2018年12月14日予定</td>
					</tr>
					<tr>
						<th>売買代金に代金に対する賃料利回り</th>
						<td>
							<p>4.46％</p>
							<p>※売買代金に対する予定賃料利回りとは、「満室時の年間の賃料収入等の総額」÷「募集総額」で算出しています。なお売買代金に対する予定賃料利回りは想定であり、元本や分配金が将来にわたって保証されるものではありません。</p>
						</td>
					</tr>
					<tr>
						<th>投資コストに対する予定分配金利回り</th>
						<td>
							<p>3.91％</p>
							<p>※投資コストに対する予定分配金利回りとは、「年間の現金分配額」÷「（募集総額＋必要経費）」で算出しています。なお投資コストに対する予定分配金利回りは想定であり、元本や分配金が将来にわたって保証されるものではありません。</p>
						</td>
					</tr>
					<tr>
						<th>収益分配</th>
						<td>年1回（2月）</td>
					</tr>
					<tr>
						<th>不動産特定共同事業者</th>
						<td>株式会社エー・ディー・ワークス<br>東京都知事　第96号</td>
					</tr>
					<tr>
						<th>事業者との関係</th>
						<td>事業者株式会社エー・ディー・ワークス自らが不動産特定共同事業契約の当事者となります。</td>
					</tr>
					<tr>
						<th>契約形態</th>
						<td>不動産特定共同事業法に基づく任意組合契約</td>
					</tr>
				</table>
			</div>
		</section>
		<!-- /[.block.block-products#section-products] -->

		<section class="block block-property" id="section-property">
			<h2 class="unit__title"><span>物件概要</span></h2>
			<div class="block-property__body">
				<table class="outline-table multi-head">
					<tr>
						<th>物件</th>
						<td>
							<dl class="in-table"><dt>名称</dt><dd>ARISTO新京極</dd></dl>
							<dl class="in-table"><dt>権利</dt><dd>所有権</dd></dl>
						</td>
					</tr>
					<tr>
						<th>所在地</th>
						<td>
							<dl class="in-table"><dt>地番</dt><dd>京都府京都市中京区新京極通六角下る桜之町441番2</dd></dl>
							<dl class="in-table"><dt>住居表示</dt><dd>京都府京都市中京区新京極通六角下る桜之町441－2</dd></dl>
						</td>
					</tr>
					<tr>
						<th>交通</th>
						<td>
							<dl class="in-table"><dt> </dt><dd>阪急京都線「河原町」駅　徒歩5分 </dd></dl>
						</td>
					</tr>
					<tr>
						<th>土地</th>
						<td>
							<dl class="in-table"><dt>公簿面積 </dt><dd>161.89m<sup>2</sup> （48.97坪） </dd></dl>
							<dl class="in-table"><dt>実測面積 </dt><dd>162.32m<sup>2</sup> （49.10坪）</dd></dl>
							<dl class="in-table"><dt>地目</dt><dd>宅地</dd></dl>
							<dl class="in-table"><dt>接道</dt><dd><p>北側幅員約5m公道</p><p>西側幅員約6m公道</p></dd></dl>
						</td>
					</tr>
					<tr>
						<th>建物</th>
						<td>
							<dl class="in-table"><dt>家屋番号</dt><dd>441番2の2</dd></dl>
							<dl class="in-table"><dt>種類</dt><dd>店舗</dd></dl>
							<dl class="in-table"><dt>構造規模</dt><dd>鉄骨造陸屋根3階建</dd></dl>
							<dl class="in-table"><dt>延床面積</dt><dd>411.95m<sup>2</sup>（公簿）　</dd></dl>
							<dl class="in-table"><dt>竣工</dt><dd>1998年6月</dd></dl>
						</td>
					</tr>
					<tr>
						<th>公法上の制限</th>
						<td>
							<dl class="in-table"><dt>都市計画区域</dt><dd>市街化区域</dd></dl>
							<dl class="in-table"><dt>用途地域</dt><dd>商業地域</dd></dl>
							<dl class="in-table"><dt>地域・地区</dt><dd><p>防火地域</p><p>31m高度地区</p><p>駐車場整備地区</p><p>既成都市区域</p></dd></dl>
							<dl class="in-table"><dt>建蔽率</dt><dd>80%</dd></dl>
							<dl class="in-table"><dt>容積率</dt><dd>700%</dd></dl>
						</td>
					</tr>
				</table>
			</div>
		</section>
		<!-- /[.unit.block-property#section-property] -->	

<%- include(srcPath + 'html/include/_block-flow') %>
		<!-- /[.block-flow#section-flow] -->

<%- include(srcPath + 'html/include/_block-faq') %>
		<!-- /[.block-faq#section-faq] -->

<%- include(srcPath + 'html/include/_block-footer-information') %>
		<!-- /[.block.footer-information] -->

	</main>
	<!-- /[.main] -->
<%- include(srcPath + 'html/include/_footer') %>
</div><!-- /.page -->

<%- include(srcPath + 'html/include/_loading') %>

<%- include(srcPath + 'html/include/_body_last') %>

</body>
</html>
