<%
meta = { title:'キャラクター：柳龍光', desc:'' };
path = '../../';
directory = 'character';
directoryLv2 = 'yanagi';
page = '';
%><!DOCTYPE html>
<html lang="ja">
<% include ../../include/_head %>
<body class="<% if (directoryLv2!=='') { %><%= directory %> <%= directory %>-<%= directoryLv2 %><% } else if (directory!=='') { %> <%= directory %><% } else {%>home<% } %>" id="top">
<div class="page" id="data-page">
<% include ../../include/_header %>

<% include ../../include/_top-carousel %>
	
	<div class="main contents">
		<section class="contents__inner">
			<h1 class="page-title"><img src="<%= path %>images/character/page-title.png" alt="<%= meta.title %>"></h1>
			<div class="page-body">
<% include ../../include/_character-navi %>

				<div class="character-article">
					<div class="character-article__body">
						<div class="character-article__wrapper">
							<div class="character-article__title">
								<p class="character-article__shoulder"><img src="<%= path %>images/character/yanagi/shoulder.png" alt="最凶死刑囚"></p>
								<h2 class="character-article__name"><img src="<%= path %>images/character/yanagi/name.png" alt="柳龍光"></h2>
								<p class="character-article__cv"><img src="<%= path %>images/character/yanagi/cv.png" alt="CV二又一成"></p>
							</div>
							<p class="character-article__image"><img src="<%= path %>images/character/yanagi/character_main.png" alt="柳龍光：全身"></p>
						</div>
					</div>
					<div class="character-article__sub">
						<div class="character-article__imageSub"><img src="<%= path %>images/character/yanagi/character_sub.png" alt="柳龍光：表情"></div>
						<div class="character-article__description">
							<p>日本の刑務所から脱獄。<br>小柄な体格ではあるが猛毒使いと呼ばれ、受刑者の間からも恐れられている。</p>
						</div>
					</div>
				</div><!-- /[.character-article] -->
			</div>
		</section>
	</div>


<% include ../../include/_footer %>
</div><!-- /[.page] -->

<% include ../../include/_loading %>

<% include ../../include/_body_last %>
</body>
</html>
