				<section class="unit-<%- directory %>" id="section-<%- directory %>-merit">
					<h3 class="unit-<%- directory %>__title">ARSITO青山への投資の魅力</h3>
					<div class="block unit-<%- directory %>__body">
						<div class="unit-<%- directory %>--merit1" id="section-<%- directory %>-merit1">
							<p class="unit-<%- directory %>--merit__title">東京都心に位置する事務所ビルマーケットへの投資。</p>
							<div class="unit unit-merit -merit1" id="section-merit1">
								<h4 class="unit-merit__head unit-merit1">都心区（千代田・中央港）は、政府機関大企業本社金融等が集しています。<br class="is-pc">2000年前後以降の都心回帰・職住近接の考え浸透等に起因。<br class="is-pc">3区人口は増加傾向。商業地価も5年連続で上昇中。</h4>
								<div class="block--merit1">
									<div class="unit-merit unit-merit--population">
										<section class="unit-merit__item" id="section-growth-population">
											<h5 class="unit-merit__title">都心人口は顕著な増加傾向に</h5>
											<div class="unit-point__image">
												<p><img src="<%= path %>images/aoyama/figure_population01.png" alt=""></p>
												<p><img src="<%= path %>images/aoyama/figure_population02.png" alt=""></p>
												<p class="caption">※都心3区の商業地価が下落しないことを保証するものではありません。</p>
											</div>
										</section>
										<!-- /[.unit-merit__item#section-growth-population] -->
										<section class="unit-merit__item unit-merit--market" id="section-growth-market">
											<h5 class="unit-merit__title">都心事務所ビルの良好なマーケット環境</h5>
											<div class="unit-merit__body">
												<div class="unit-point__image">
													<p><img src="<%= path %>images/aoyama/figure_market01.png" alt=""></p>
													<p><img src="<%= path %>images/aoyama/figure_market02.png" alt=""></p>
													<p class="caption">いずれも三鬼商事株式会社「オフィスマーケットデータ」より当社作成</p>
												</div>
											</div>
										</section>
										<!-- /[.unit-merit__item#section-growth-market] -->
									</div>
								</div>
								<!-- /[.unit.unit-merit#section-growth] -->
							</div>
							<!-- /[.unit-merit.-merit1#section-merit1] -->

						</div>
						<div class="unit-<%- directory %>--merit2" id="section-<%- directory %>-merit2">
							<p class="unit-<%- directory %>--merit__title">良好なブランドイメージを有する「青山」という街</p>
							<div class="unit unit-merit -merit2" id="section-merit2">
								<h3 class="unit-merit__head unit-merit1">皇居を望む三宅坂交差点から渋谷駅前までを貫く青山通り。<br class="is-pc">永田町、赤坂、青山、表参道等、都内でも有数の繁華街・オフィス街をつなぐ<br class="is-pc">洗練された通りのオフィス・住宅街に位置するARISTO青山</h3>
								<div class="block--merit2">
									<div class="unit-merit -brand-image" id="section-brand-image">
										<section class="-brand-image__item">
											<div class="-brand-image__body">
												<h4 class="-brand-image__title">青山通り</h4>
												<p>有数のブランドイメージを誇る表参道や、多くの海外の高級ブランドが出店するみゆき通り、洗練されたセレクトショップが立ち並ぶ骨董通りが交差するファッションやトレンドの発信基地と言えるエリア。<br>青山通りの地下には東京メトロ銀座線と半蔵門線が通る、東京都心の大動脈の一つと言える。</p>
											</div>
											<div class="-brand-image__photo"><img src="<%= path %>images/aoyama/photo_aoyama01.jpg" alt=""></div>
										</section>
										<section class="-brand-image__item">
											<div class="-brand-image__body">
												<h4 class="-brand-image__title">緑多い都心のオアシス</h4>
												<p>青山通りは、赤坂御用地、明治神宮外苑銀杏並木、青山霊園等、豊かな緑に囲まれるエリアでもある。桜を愛でる春、緑深まる夏、紅葉が目にまぶしい秋、凛とした空気が心地よい冬と、四季折々の表情を見せる。休日には様々なイベントが開催されることも多く、近隣のみならず遠方からも多くの人が集まる都心のオアシス。</p>
											</div>
											<div class="-brand-image__photo"><img src="<%= path %>images/aoyama/photo_aoyama02.jpg" alt=""></div>
										</section>
									</div>
									<!-- /[.unit-merit.-brand-image#section-brand-image] -->
								</div>
							</div>
							<!-- /[.unit-merit.-merit1#section-merit2] -->
						</div>
					</div>
				</section>