<%
meta = { title:'', desc:'' };
isForm = '';
path = '../';
srcPath ='../../';
directory = 'aoyama';
directoryLv2 = '';
page = '';
%><!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<%- include(srcPath + 'html/include/_gtag') %>
<%- include(srcPath + 'html/include/_head') %>
</head>
<body class="<% if (directory!=='') { %> <%= directory %><% } else {%>home<% } %>" id="top">
<%- include(srcPath + 'html/include/_gtag_body') %>
<div class="page" id="data-page">
<%- include(srcPath + 'html/include/aoyama/_header') %>
	<main class="main contents">
		<header class="page-head">
			<div class="container">
				<h1 class="page-title"><ruby>ARISTO <rp>(</rp><rt>アリスト</rt><rp>)</rp></ruby>は、好立地の優良不動産に対して<br>少額からの投資が可能な<br class="is-sp">不動産小口化商品です。</h1>
				<p class="page-title--note">ARISTO(アリスト)は、株式会社エー・ディー・ワークスが提供する、<br class="is-pc">不動産特定共同事業法に基づく不動産小口化商品です。
				</p>
			</div>
		</header>
		<!-- /[.page-head] -->

		<section class="block-instruments" id="section-instruments">
			<h2 class="block__title"><span>ARISTO第2号商品</span></h2>
			<div class="top-carousel -horizontal">
				<div class="top-carousel__inner" id="data-carousel">
					<div class="top-carousel__item"><img src="<%= path %>images/index/photo_aoyama01.jpg" alt=""></div>
					<div class="top-carousel__item"><img src="<%= path %>images/index/photo_aoyama02.jpg" alt=""></div>
					<div class="top-carousel__item"><img src="<%= path %>images/index/photo_aoyama03.jpg" alt=""></div>
					<div class="top-carousel__item"><img src="<%= path %>images/index/photo_aoyama04.jpg" alt=""></div>
				</div>
				<div class="top-carousel__message">
					<div class="top-carousel__message__inner">
						<h3 class="top-carousel__title">ARISTO青山</h3>
						<p class="top-carousel__body">都心の中心「青山」の「新築事務所店舗ビル」に<br>「少額から投資が可能」な商品です。</p>
					</div>
				</div>
			</div>
			<!-- /[.top-carousel] -->

			<div class="block-title" id="section-title">
				<div class="block -available -investment">
					<h2 class="block-title__logo"><img src="<%= path %>images/common/logo_aristo-aoyama.jpg" alt="ARISTO青山"></h2>
				</div>
<%- include(srcPath + 'html/include/aoyama/_block-others') %>
				<!-- /[.block-others] -->
			</div>
			<!-- /[.block-title#section-title] -->
		</section>
		<!-- /[.block-instruments#section-instruments] -->

		<section class="block block-location" id="section-location">
			<h2 class="unit__title"><span>ロケーション</span></h2>
			<div class="unit-map__body">
				<p class="unit-map__main" id="data-map-aoyama-main"><img src="<%= path %>images/aoyama/map_super-wide.jpg" alt="地図"></p>
			</div>
			<div class="unit-map__information">
				<p>青山通りとは‥‥皇居を望む三宅坂交差点から渋谷駅前までの大通りで、永田町・赤坂・青山・表参道等・都内でも有数の繁華街・オフィス街をつなぐ洗練された通り</p>
				<ul class="unit-map__nav" id="data-map-aoyama">
					<li class="unit-map__nav__item"><a href="<%= path %>images/aoyama/map_wide.jpg"><img src="<%= path %>images/aoyama/map_wide.jpg"></a></li>
					<li class="unit-map__nav__item"><a href="<%= path %>images/aoyama/map_middle.jpg"><img src="<%= path %>images/aoyama/map_middle.jpg"></a></li>
				</ul>
			</div>
		</section>
		<!-- /[.block.block-location#section-location] -->

		<div class="block block-gallery .-aoyama" id="section-gallery">
			<div class="block-gallery__body">
				<div class="block-gallery__item">
					<div class="block-aoyama-images">
						<div class="gallery-images__main"></div>
						<ul class="gallery-images__thumbnail -label">
							<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/aoyama/photo_ginkgo.jpg" alt="銀杏並木"></li>
							<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/aoyama/photo_national-stadium.jpg" alt="新国立競技場"></li>
							<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/aoyama/photo_imperial-land.jpg" alt="迎賓館赤坂離宮"></li>
							<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/aoyama/photo_omotesando.jpg" alt="表参道"></li>
							<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/aoyama/photo_aoyama-street.jpg" alt="青山通り"></li>
							<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/aoyama/photo_national-art-center.jpg" alt="国立新美術館"></li>
							<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/aoyama/photo_roppongi-hills.jpg" alt="六本木ヒルズ"></li>
							<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/aoyama/photo_akasaka-sakas.jpg" alt="赤坂サカス"></li>
						</ul>
					</div>
				</div>
				<div class="block-gallery__item">
					<img src="<%= path %>images/aoyama/map_middle-green.jpg" alt="周辺地図">
				</div>
			</div>	
		</div>
		<!-- /[.block.block-gallery#section-gallery] -->

		<section class="block block-characteristic" id="section-characteristic">
			<h2 class="unit__title"><span>ARISTO青山の特性</span></h2>
			<p class="block__lead">ARISTO青山は、 用途境に位置するため建物上層階から南側への眺望が極めてよく、<br class="is-pc">加えて美観整備された道路に面し、特徴あるアプローチを有しています。</p>
			<div class="block__body">
				<div class="block-characteristic__images">
					<div class="block-characteristic__images__item -item01"><img src="<%= path %>images/aoyama/photo_appearance.jpg" alt=""></div>
					<div class="block-characteristic__images__item -item02"><img src="<%= path %>images/aoyama/photo_approach.jpg" alt=""></div>
					<div class="block-characteristic__images__item -item03"><img src="<%= path %>images/aoyama/figure_surroundings.jpg" alt=""></div>
					<p class="block-characteristic__images__item -note">※青山通り以南のみ加工。正確性を保証するものではありません。</p>
				</div>
				<div class="block-characteristic__body">
					<dl class="block-characteristic__photo -wide">
						<dt>建物上層階から南側への眺望</dt>
						<dd>
							<figure class="block-characteristic__photo__item">
								<img src="<%= path %>images/aoyama/photo_23.jpg" alt="">
							</figure>
						</dd>
					</dl>
					<dl class="block-characteristic__photo">
						<dt>外観</dt>
						<dd>
							<figure class="block-characteristic__photo__item">
								<img src="<%= path %>images/aoyama/photo_02.jpg" alt="">
							</figure>
							<figure class="block-characteristic__photo__item">
								<img src="<%= path %>images/aoyama/photo_03.jpg" alt="">
							</figure>
							<figure class="block-characteristic__photo__item">
								<img src="<%= path %>images/aoyama/photo_08.jpg" alt="">
								<img src="<%= path %>images/aoyama/photo_09.jpg" alt="">
							</figure>
							<span class="block-characteristic__photo__item__description">2019年2月竣工時撮影</span>
						</dd>
					</dl>
					<dl class="block-characteristic__photo">
						<dt>内観</dt>
						<dd>
							<figure class="block-characteristic__photo__item">
								<img src="<%= path %>images/aoyama/photo_21.jpg" alt="">
								<figcaption>各階専用の水回りスペース（奥に男女別のトイレ）</figcaption>
							</figure>
							<figure class="block-characteristic__photo__item -half">
								<img src="<%= path %>images/aoyama/photo_15.jpg" alt="">
								<img src="<%= path %>images/aoyama/photo_16.jpg" alt="">
								<figcaption>事務所内全景</figcaption>
							</figure>
							<figure class="block-characteristic__photo__item -half -caption">
								<img src="<%= path %>images/aoyama/photo_18.jpg" alt="">
								<img src="<%= path %>images/aoyama/photo_19.jpg" alt="">
								<figcaption>7階オフィス</figcaption>
							</figure>
							<span class="block-characteristic__photo__item__description">2019年2月竣工時撮影</span>
						</dd>
					</dl>
				</div>
			</div>
			<div class="block">
				<h3 class="block-contact__title">資料請求・お問い合わせはこちら</h3>
<%- include(srcPath + 'html/include/_block-contact__buttons') %>
<%- include(srcPath + 'html/include/_block-contact') %>
			</div>
		</section>
		<!-- /[.block.block-characteristic#section-characteristic] -->

		<%# section class="block block-products" id="section-products">
			<h2 class="unit__title"><span>商品概要</span></h2>
			<div class="block-products__body">
				<table class="outline-table">
					<tr>
						<th>募集総額</th>
						<td>9.0億円</td>
					</tr>
					<tr>
						<th>募集総口数</th>
						<td>900口</td>
					</tr>
					<tr>
						<th>組合組成日</th>
						<td>2019年9月20日</td>
					</tr>
					<tr>
						<th>予定運用期間</th>
						<td>15年間</td>
					</tr>
					<tr>
						<th>お申込単位</th>
						<td>
							<dl>
								<dt>1口100万円単位</dt>
								<dd class="indent">最低出資金額500万円（5口）<br>
									最高出資金額2.25億円（225口）<br>
									（500万円以上であれば、100万円単位で出資額をお決め頂けます。）</dd>
							</dl>
						</td>
					</tr>
					<tr>
						<th>必要経費</th>
						<td>不動産取得税等（1口あたりの目安約22,515円）</td>
					</tr>
					<tr>
						<th>支払期日</th>
						<td>2019年9月13日予定</td>
					</tr>
					<tr>
						<th>売買代金に対する予定賃料利回り</th>
						<td>
							<p>満室稼動想定　4.69%<br>95%稼動想定　4.46%</p>
							<p>※売買代金に対する予定賃料利回りとは、「満室時の年間の賃料収入等の総額」÷「募集総額」で算出しています。なお売買代金に対する予定賃料利回りは想定であり、元本や分配金が将来にわたって保証されるものではありません。</p>
						</td>
					</tr>
					<tr>
						<th>投資コストに対する予定分配金利回り</th>
						<td>
							<p>満室稼動想定　3.39%<br>95%稼動想定　3.17%</p>
							<p>※投資コストに対する予定分配金利回りとは、「年間の現金分配額」÷「（募集総額＋必要経費）」で算出しています。なお投資コストに対する予定分配金利回りは想定であり、元本や分配金が将来にわたって保証されるものではありません。</p>
							<p>※不動産市況等により賃料収入は変動します。例えば、賃料収入が現在想定賃料から『10％上昇』・『10％下落』した場合の満室稼動想定予定分配金利回りは、『3.81％』・『2.96％』となります。</p>
						</td>
					</tr>
					<tr>
						<th>収益分配</th>
						<td>年1回（2月）</td>
					</tr>
					<tr>
						<th>不動産特定共同事業者</th>
						<td>株式会社エー・ディー・ワークス<br>東京都知事　第96号</td>
					</tr>
					<tr>
						<th>事業者との関係</th>
						<td>事業者株式会社エー・ディー・ワークス自らが不動産特定共同事業契約の当事者となります。</td>
					</tr>
					<tr>
						<th>契約形態</th>
						<td>不動産特定共同事業法に基づく任意組合契約</td>
					</tr>
				</table>
			</div>
		</section%>
		<!-- /[.block.block-products#section-products] -->

		<section class="block block-property" id="section-property">
			<h2 class="unit__title"><span>物件概要</span></h2>
			<div class="block-property__body">
				<table class="outline-table multi-head">
					<tr>
						<th>物件</th>
						<td>
							<dl class="in-table"><dt>名称</dt><dd>ARISTO青山<br>ビル名称（物件名称）はARISTO南青山</dd></dl>
						</td>
					</tr>
					<tr>
						<th>所在地</th>
						<td>
							<dl class="in-table"><dt>地番</dt><dd>東京都港区南青山二丁目62番2</dd></dl>
							<dl class="in-table"><dt>住居表示</dt><dd>東京都港区南青山二丁目11番11号</dd></dl>
						</td>
					</tr>
					<tr>
						<th>交通</th>
						<td>
							<dl class="in-table"><dt> </dt><dd>東京メトロ「外苑前」駅徒歩4分<br>東京メトロ・都営地下鉄「青山一丁目」駅徒歩6分</dd></dl>
						</td>
					</tr>
					<tr>
						<th>土地</th>
						<td>
							<dl class="in-table"><dt>実測面積 </dt><dd>170.39m<sup>2</sup> （51.54坪）</dd></dl>
							<dl class="in-table"><dt>権利</dt><dd>所有権</dd></dl>
							<dl class="in-table"><dt>地目</dt><dd>宅地・公衆用道路</dd></dl>
						</td>
					</tr>
					<tr>
						<th>建物</th>
						<td>
							<dl class="in-table"><dt>構造・規模</dt><dd>鉄筋コンクリート造・地上7階</dd></dl>
							<dl class="in-table"><dt>竣工</dt><dd>2019年2月</dd></dl>
							<dl class="in-table"><dt>延床面積</dt><dd>473.65m<sup>2</sup>（143.27坪）　</dd></dl>
							<dl class="in-table"><dt>賃貸面積</dt><dd>430.46m<sup>2</sup>（130.16坪）</dd></dl>
							<dl class="in-table"><dt>用途</dt><dd>事務所・店舗</dd></dl>
						</td>
					</tr>
					<tr>
						<th>公法上の制限</th>
						<td>
							<dl class="in-table"><dt>都市計画区域</dt><dd>市街化区域</dd></dl>
							<dl class="in-table"><dt>用途地域</dt><dd>商業地域・第2種住居地域</dd></dl>
							<dl class="in-table"><dt>指定建蔽率</dt><dd>80%・60%</dd></dl>
							<dl class="in-table"><dt>防火指定</dt><dd>防火地域</dd></dl>
							<dl class="in-table"><dt>指定容積率</dt><dd>700%・400%</dd></dl>
						</td>
					</tr>
				</table>
			</div>
		</section>
		<!-- /[.unit.block-property#section-property] -->	

<%#		<section class="block-seminars" id="section-seminars">
			<h2 class="block__title"><span>セミナー情報</span></h2>
			<div class="block">%>
<%#- include(srcPath + 'html/include/_block-seminar-body') %>
<%#
			</div>
		</section>
%>
<%- include(srcPath + 'html/include/_block-flow') %>
		<!-- /[.block-flow#section-flow] -->

<%- include(srcPath + 'html/include/_block-faq') %>
		<!-- /[.block-flow#section-faq] -->
		
<%- include(srcPath + 'html/include/_block-footer-information') %>
		<!-- /[.block.footer-information] -->

	</main>
	<!-- /[.main] -->
<%- include(srcPath + 'html/include/_footer') %>

<%- include(srcPath + 'html/include/_fixed-buttons') %>
    <!--　/[.fixed-button] -->
</div><!-- /.page -->

<%- include(srcPath + 'html/include/_loading') %>

<%- include(srcPath + 'html/include/_body_last') %>

</body>
</html>
