<%
meta = { title:'キャラクター：渋川剛気', desc:'' };
path = '../../';
directory = 'character';
directoryLv2 = 'shibukawa';
page = '';
%><!DOCTYPE html>
<html lang="ja">
<% include ../../include/_head %>
<body class="<% if (directoryLv2!=='') { %><%= directory %> <%= directory %>-<%= directoryLv2 %><% } else if (directory!=='') { %> <%= directory %><% } else {%>home<% } %>" id="top">
<div class="page" id="data-page">
<% include ../../include/_header %>

<% include ../../include/_top-carousel %>
	
	<div class="main contents">
		<section class="contents__inner">
			<h1 class="page-title"><img src="<%= path %>images/character/page-title.png" alt="<%= meta.title %>"></h1>
			<div class="page-body">
<% include ../../include/_character-navi %>

				<div class="character-article">
					<div class="character-article__body">
						<div class="character-article__wrapper">
							<div class="character-article__title">
								<p class="character-article__shoulder"><img src="<%= path %>images/character/shibukawa/shoulder.png" alt="地下闘技場闘士"></p>
								<h2 class="character-article__name"><img src="<%= path %>images/character/shibukawa/name.png" alt="渋川剛気"></h2>
								<p class="character-article__cv"><img src="<%= path %>images/character/shibukawa/cv.png" alt="CV島田 敏"></p>
							</div>
							<p class="character-article__image"><img src="<%= path %>images/character/shibukawa/character_main.png" alt="渋川剛気：全身"></p>
						</div>
					</div>
					<div class="character-article__sub">
						<div class="character-article__imageSub"><img src="<%= path %>images/character/shibukawa/character_sub.png" alt="渋川剛気：表情"></div>
						<div class="character-article__description">
							<p>小柄で老齢ながら『武の体現』の名に恥じない渋川流合気柔術の達人。合気を実戦レベルまで高めたとして、生きる伝説とも呼ばれる。</p>
						</div>
					</div>
				</div><!-- /[.character-article] -->
			</div>
		</section>
	</div>


<% include ../../include/_footer %>
</div><!-- /[.page] -->

<% include ../../include/_loading %>

<% include ../../include/_body_last %>
</body>
</html>
