<%
meta = { title:'セミナー詳細', desc:'' };
path = '../';
directory = 'seminar';
directoryLv2 = '';
page = '';
%><!DOCTYPE html>
<html lang="ja">
<% include ../include/_head %>
<body class="<% if (directory!=='') { %>aristo-<%= directory %><% } else {%>home<% } %><% if (page!=='') { %> page-<%= page %><% } else { %> page-input<% } %>" id="top">
<% include ../include/_gtag %>
<div class="page" id="data-page">
<% include ../include/_header %>
<main class="main contents">
	<header class="page-head">
		<div class="container">
			<h1 class="page-title">
				<%= meta.title %>
			</h1>
		</div>
	</header>
	<div class="page-body">
		<div class="container">
			<div class="page-lead">
				<p class="contact-form__link"><a href="<%= path %>entry-seminar/" class="btn-detail">セミナー申込み</a></p>
			</div>
			<!-- /[.page-lead] -->
			<div class="seminar-list">
				<!--<article class="seminar-detail">
					<h2 class="seminar-detail__title">アリスト京都ご案内会（東京）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_kyoto.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/08/25（土）14時～15時30分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>13時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>東京都千代田区内幸町1-1-7 日比谷U-1ビル13階<br>株式会社エー・ディー・ワークス本社</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>15名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
									不動産小口化商品ARISTO京都商品説明<br>登壇予定：税理士法人OAK　代表社員　前田先生</p>
									<p><u>後半（15～30分）</u><br>
									質疑・個別相談・アンケート記載</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・不動産を活用した相続対策をご検討の方<br>
								・資産運用に興味がある方<br>
								・不動産小口化商品についての詳細な説明をご希望の方<br>
								・少額での不動産投資に興味がある方<br>
								・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
								事業企画本部　アリスト事業部<br>
								TEL:<a href="tel:0120540949">0120-540-949</a><br>
								Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>-->
				<!-- /[0825_東京] -->
<!--				<article class="seminar-detail">
					<h2 class="seminar-detail__title">アリスト京都ご案内会（東京）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_kyoto.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/08/29（水）14時～15時30分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>13時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>東京都千代田区内幸町1-1-7 日比谷U-1ビル13階<br>株式会社エー・ディー・ワークス本社</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>5名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p><u>後半（15～30分）</u><br>
										質疑・個別相談・アンケート記載</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・不動産を活用した相続対策をご検討の方<br>
									・資産運用に興味がある方<br>
									・不動産小口化商品についての詳細な説明をご希望の方<br>
									・少額での不動産投資に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>-->
				<!-- /[0829‗1400東京] -->
<!--				<article class="seminar-detail">
					<h2 class="seminar-detail__title">アリスト京都ご案内会（東京）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_kyoto.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/08/29（水）18時～19時30分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>17時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>東京都千代田区内幸町1-1-7 日比谷U-1ビル13階<br>株式会社エー・ディー・ワークス本社</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>5名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p><u>後半（15～30分）</u><br>
										質疑・個別相談・アンケート記載</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・不動産を活用した相続対策をご検討の方<br>
									・資産運用に興味がある方<br>
									・不動産小口化商品についての詳細な説明をご希望の方<br>
									・少額での不動産投資に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>-->
				<!-- /[0829‗1800東京] -->
				<article class="seminar-detail">
					<h2 class="seminar-detail__title">アリスト京都ご案内会（東京）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_kyoto.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/09/01（土）14時～15時30分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>13時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>東京都千代田区内幸町1-1-7 日比谷U-1ビル13階<br>株式会社エー・ディー・ワークス本社</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>5名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p><u>後半（15～30分）</u><br>
										質疑・個別相談・アンケート記載</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・不動産を活用した相続対策をご検討の方<br>
									・資産運用に興味がある方<br>
									・不動産小口化商品についての詳細な説明をご希望の方<br>
									・少額での不動産投資に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>
				<!-- /[0901_1400東京] -->
				<article class="seminar-detail">
					<h2 class="seminar-detail__title">アリスト京都ご案内会（東京）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_kyoto.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/09/05（水）18時～18時30分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>17時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>東京都千代田区内幸町1-1-7 日比谷U-1ビル13階<br>株式会社エー・ディー・ワークス本社</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>5名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p><u>後半（15～30分）</u><br>
										質疑・個別相談・アンケート記載</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・不動産を活用した相続対策をご検討の方<br>
									・資産運用に興味がある方<br>
									・不動産小口化商品についての詳細な説明をご希望の方<br>
									・少額での不動産投資に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>
				<!-- /[0905_1800東京] -->
				<article class="seminar-detail">
					<h2 class="seminar-detail__title">税理士登壇不動産投資セミナー（東京）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_question.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
								<span class="seminar-detail__categories-management">資産運用</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/09/08（土）14時～16時</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>13時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>東京都千代田区内幸町1-1-7 日比谷U-1ビル13階<br>株式会社エー・ディー・ワークス本社</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>30名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										税理士が語る不動産投資と相続税対策<br>
										税理士法人OAK　代表社員　前田先生</p>
									<p><u>休憩（5分）</u></p>
									<p><u>後半（40分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p>質疑・個別相談・アンケート記載（15～30分）</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・ご親族の相続やご自身の相続が気になる方<br>
									・相続について何から準備を始めたらいいかわからない方<br>
									・相続対策を基礎から学びたい方<br>
									・まだ先のことではあるが、万が一に備えて相続対策に関心がある方<br>
									・相続対策として不動産をご検討の方<br>
									・資産運用に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>
				<!-- /[0908_1400東京] -->
				<article class="seminar-detail">
					<h2 class="seminar-detail__title">税理士登壇不動産投資セミナー（大阪）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_question.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
								<span class="seminar-detail__categories-management">資産運用</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/09/09（日）14時～16時</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>13時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>TKPガーデンシティ東梅田　カンファレスルーム5B<br>
										大阪府大阪市北区曾根崎2丁目11−16</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/TKP%E3%82%AC%E3%83%BC%E3%83%87%E3%83%B3%E3%82%B7%E3%83%86%E3%82%A3%E6%9D%B1%E6%A2%85%E7%94%B0/@34.7007119,135.4999624,16z/data=!4m5!3m4!1s0x0:0xdfe22ee93ffebe4f!8m2!3d34.7007119!4d135.4999624" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>30名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										税理士が語る不動産投資と相続税対策<br>
										愛和税理士法人　代表社員　岡田先生</p>
									<p><u>休憩（5分）</u></p>
									<p><u>後半（40分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p>質疑・個別相談・アンケート記載（15～30分）</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・ご親族の相続やご自身の相続が気になる方<br>
									・相続について何から準備を始めたらいいかわからない方<br>
									・相続対策を基礎から学びたい方<br>
									・まだ先のことではあるが、万が一に備えて相続対策に関心がある方<br>
									・相続対策として不動産をご検討の方<br>
									・資産運用に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>
				<!-- /[0909_1400大阪] -->
				<article class="seminar-detail">
					<h2 class="seminar-detail__title">税理士登壇不動産投資セミナー（東京）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_question.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
								<span class="seminar-detail__categories-management">資産運用</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/09/12（水）18時～20時</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>17時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>東京都千代田区内幸町1-1-7 日比谷U-1ビル13階<br>株式会社エー・ディー・ワークス本社</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>15名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										税理士が語る不動産投資と相続税対策<br>
										税理士法人タクトコンサルティング　芦沢先生</p>
									<p><u>休憩（5分）</u></p>
									<p><u>後半（40分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p>質疑・個別相談・アンケート記載（15～30分）</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・ご親族の相続やご自身の相続が気になる方<br>
									・相続について何から準備を始めたらいいかわからない方<br>
									・相続対策を基礎から学びたい方<br>
									・まだ先のことではあるが、万が一に備えて相続対策に関心がある方<br>
									・相続対策として不動産をご検討の方<br>
									・資産運用に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>
				<!-- /[0912_1800東京] -->
				<article class="seminar-detail">
					<h2 class="seminar-detail__title">税理士登壇不動産投資セミナー（名古屋）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_question.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
								<span class="seminar-detail__categories-management">資産運用</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/09/15（土）14時～16時</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>13時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>TKPガーデンシティPREMIUM　名古屋ルーセントタワー　B<br>愛知県名古屋市西区 牛島町6-1名古屋ルーセントタワー</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/TKP%E3%82%AC%E3%83%BC%E3%83%87%E3%83%B3%E3%82%B7%E3%83%86%E3%82%A3PREMIUM%E5%90%8D%E5%8F%A4%E5%B1%8B%E3%83%AB%E3%83%BC%E3%82%BB%E3%83%B3%E3%83%88%E3%82%BF%E3%83%AF%E3%83%BC/@35.174955,136.881203,16z/data=!4m5!3m4!1s0x0:0xeacd8bcbcdf5aa6f!8m2!3d35.174955!4d136.881203" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>30名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										税理士が語る不動産投資と相続税対策<br>
										名古屋総合税理士法人　代表税理士　細江先生</p>
									<p><u>休憩（5分）</u></p>
									<p><u>後半（40分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p>質疑・個別相談・アンケート記載（15～30分）</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・ご親族の相続やご自身の相続が気になる方<br>
									・相続について何から準備を始めたらいいかわからない方<br>
									・相続対策を基礎から学びたい方<br>
									・まだ先のことではあるが、万が一に備えて相続対策に関心がある方<br>
									・相続対策として不動産をご検討の方<br>
									・資産運用に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>
				<!-- /[0915_1400名古屋] -->
				<article class="seminar-detail">
					<h2 class="seminar-detail__title">税理士登壇不動産投資セミナー（京都）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_question.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
								<span class="seminar-detail__categories-management">資産運用</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/09/16（日）14時～16時</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>13時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>TKP京都四条駅前カンファレンスセンター　カンファレンスルーム8GM<br>京都府京都市下京区立売中之町100-1KMビル</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/TKP%E4%BA%AC%E9%83%BD%E5%9B%9B%E6%9D%A1%E9%A7%85%E5%89%8D%E3%82%AB%E3%83%B3%E3%83%95%E3%82%A1%E3%83%AC%E3%83%B3%E3%82%B9%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC/@35.0040148,135.7634994,16z/data=!4m5!3m4!1s0x0:0x7e8b92a9625175c2!8m2!3d35.0040148!4d135.7634994" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>30名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										税理士が語る不動産投資と相続税対策<br>
										税理士法人　京都名南経営　代表税理士　近藤先生</p>
									<p><u>休憩（5分）</u></p>
									<p><u>後半（40分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p>質疑・個別相談・アンケート記載（15～30分）</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・ご親族の相続やご自身の相続が気になる方<br>
									・相続について何から準備を始めたらいいかわからない方<br>
									・相続対策を基礎から学びたい方<br>
									・まだ先のことではあるが、万が一に備えて相続対策に関心がある方<br>
									・相続対策として不動産をご検討の方<br>
									・資産運用に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>
				<!-- /[0916_1400京都] -->
				<article class="seminar-detail">
					<h2 class="seminar-detail__title">アリスト京都ご案内会（東京）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_kyoto.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/09/19（水）14時～15時30分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>13時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>東京都千代田区内幸町1-1-7 日比谷U-1ビル13階<br>株式会社エー・ディー・ワークス本社</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>5名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p><u>後半（15～30分）</u><br>
										質疑・個別相談・アンケート記載</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・不動産を活用した相続対策をご検討の方<br>
									・資産運用に興味がある方<br>
									・不動産小口化商品についての詳細な説明をご希望の方<br>
									・少額での不動産投資に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>
				<!-- /[0919‗1400東京] -->
				<article class="seminar-detail">
					<h2 class="seminar-detail__title">アリスト京都ご案内会（東京）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_kyoto.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/09/19（水）18時～19時30分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>17時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>東京都千代田区内幸町1-1-7 日比谷U-1ビル13階<br>株式会社エー・ディー・ワークス本社</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>5名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p><u>後半（15～30分）</u><br>
										質疑・個別相談・アンケート記載</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・不動産を活用した相続対策をご検討の方<br>
									・資産運用に興味がある方<br>
									・不動産小口化商品についての詳細な説明をご希望の方<br>
									・少額での不動産投資に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>
				<!-- /[0919‗1800東京] -->
				<article class="seminar-detail">
					<h2 class="seminar-detail__title">アリスト京都ご案内会（東京）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_kyoto.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/09/22（土）14時～15時30分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>13時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>東京都千代田区内幸町1-1-7 日比谷U-1ビル13階<br>株式会社エー・ディー・ワークス本社</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>5名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p><u>後半（15～30分）</u><br>
										質疑・個別相談・アンケート記載</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・不動産を活用した相続対策をご検討の方<br>
									・資産運用に興味がある方<br>
									・不動産小口化商品についての詳細な説明をご希望の方<br>
									・少額での不動産投資に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>
				<!-- /[0922_1400東京] -->
				<article class="seminar-detail">
					<h2 class="seminar-detail__title">アリスト京都ご案内会（東京）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_kyoto.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/09/26（水）14時～15時30分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>13時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>東京都千代田区内幸町1-1-7 日比谷U-1ビル13階<br>株式会社エー・ディー・ワークス本社</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>5名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p><u>後半（15～30分）</u><br>
										質疑・個別相談・アンケート記載</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・不動産を活用した相続対策をご検討の方<br>
									・資産運用に興味がある方<br>
									・不動産小口化商品についての詳細な説明をご希望の方<br>
									・少額での不動産投資に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>
				<!-- /[0926‗1400東京] -->
				<article class="seminar-detail">
					<h2 class="seminar-detail__title">アリスト京都ご案内会（東京）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_kyoto.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/09/26（水）18時～19時30分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>17時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>東京都千代田区内幸町1-1-7 日比谷U-1ビル13階<br>株式会社エー・ディー・ワークス本社</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>5名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p><u>後半（15～30分）</u><br>
										質疑・個別相談・アンケート記載</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・不動産を活用した相続対策をご検討の方<br>
									・資産運用に興味がある方<br>
									・不動産小口化商品についての詳細な説明をご希望の方<br>
									・少額での不動産投資に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>
				<!-- /[0926‗1800東京] -->
				<article class="seminar-detail">
					<h2 class="seminar-detail__title">アリスト京都ご案内会（東京）<br><span>※完全予約制</span></h2>
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><img src="<%= path %>images/seminar/image_kyoto.jpg" alt=""></p>
							<p class="seminar-detail__categories">
								<span class="seminar-detail__categories-kyoto">ARISTO京都</span>
								<span class="seminar-detail__categories-inheritance">相続</span>
							</p>
						</div>
						<div class="seminar-detail__information">
							<dl class="seminar-information">
								<dt>開催日時</dt>
								<dd class="date">2018/09/29（土）14時～15時30分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開場時間</dt>
								<dd>13時45分</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催場所</dt>
								<dd>
									<p>東京都千代田区内幸町1-1-7 日比谷U-1ビル13階<br>株式会社エー・ディー・ワークス本社</p>
									<p>
										<a class="btn-detail" href="https://www.google.co.jp/maps/place/%E3%80%92100-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%86%85%E5%B9%B8%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%E2%88%92%EF%BC%97/@35.671836,139.757767,16z/data=!4m5!3m4!1s0x60188bee7710c09f:0x1981e723fed7cfa7!8m2!3d35.6717666!4d139.7576817?hl=ja" target="_blank">Googleマップ</a>
									</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>参加費</dt>
								<dd><strong>無料</strong></dd>
							</dl>
							<dl class="seminar-information">
								<dt>定員</dt>
								<dd>5名</dd>
							</dl>
							<dl class="seminar-information">
								<dt>開催概要</dt>
								<dd>
									<p><u>前半（60分）</u><br>
										不動産小口化商品ARISTO京都商品説明</p>
									<p><u>後半（15～30分）</u><br>
										質疑・個別相談・アンケート記載</p>
								</dd>
							</dl>
							<dl class="seminar-information">
								<dt>対象となる方</dt>
								<dd>・不動産を活用した相続対策をご検討の方<br>
									・資産運用に興味がある方<br>
									・不動産小口化商品についての詳細な説明をご希望の方<br>
									・少額での不動産投資に興味がある方<br>
									・資産運用をしたいが、そのために時間を割けない方</dd>
							</dl>
							<dl class="seminar-information">
								<dt>問合せ先</dt>
								<dd>株式会社エー・ディー・ワークス<br>
									事業企画本部　アリスト事業部<br>
									TEL:<a href="tel:0120540949">0120-540-949</a><br>
									Mail:<a href="mailto:&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;">&#97;&#114;&#105;&#115;&#116;&#111;&#64;&#114;&#101;&#45;&#97;&#100;&#119;&#111;&#114;&#107;&#115;&#46;&#99;&#111;&#109;</a></dd>
							</dl>
							<dl class="seminar-information">
								<dt>主催</dt>
								<dd>株式会社エー・ディー・ワークス</dd>
							</dl>
						</div>
					</div>
					<p class="alignC"><a href="<%= path %>seminar-entry/" class="btn-seminar">セミナー申込み</a></p>
				</article>
				<!-- /[0929_1400東京] -->
			</div>
			<% include ../include/_block-contact %>
		</div>
		<!-- /[.container] -->
	</div>
</main>	<!-- /[.contents] -->
<% include ../include/_footer %>
</div><!-- /[.page] -->

<% include ../include/_body_last %>
</body>
</html>
