<%
meta = { title:'完了：Web個別案内会申し込み', desc:'' };
path = '../';
srcPath = '../../';
isForm = '';
directory = 'guidance';
directoryLv2 = '';
page = 'complete';
%><!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<%- include(srcPath + 'html/include/_gtag') %>
<%- include(srcPath + 'html/include/_head') %>
<!-- Event snippet for 新　web個別セミナー conversion page -->
<script>
	gtag('event', 'conversion', {'send_to': 'AW-797422406/k6MuCOaRlNoBEMbmnvwC'});
</script>
</head>
<body class="<% if (directory!=='') { %>aristo-<%= directory %><% } else {%>home<% } %><% if (page!=='') { %> page-<%= page %><% } %>" id="top">
<%- include(srcPath + 'html/include/_gtag_body') %>
<div class="page" id="data-page">
<%- include(srcPath + 'html/include/_header') %>
	<main class="main contents">
		<header class="page-head">
			<div class="container">
				<h1 class="page-title"><%= meta.title %></h1>
			</div>
		</header>
		<div class="page-body">
			<div class="container">
<%- include(srcPath + 'html/include/_block-contact') %>
				<div class="contact-form">
					<nav class="step-indicator">
						<ul>
							<li class="step-indicator__item -input"><span>入力</span></li>
							<li class="step-indicator__item -confirm"><span>確認</span></li>
							<li class="step-indicator__item -complete"><span>完了</span></li>
						</ul>
					</nav>
					<!-- /[.step-indicator] -->
					
					<h2 class="section-title"><%= meta.title %></h2>
					<div class="form-complete">
						<p>Web個別案内会の申込を受付けました。<br>
						ありがとうございました。</p>
						<a href="<%= path %>index.html" class="btn-back">ARISTOトップページに戻る</a>
					</div>
				</div>
				<!-- /[.contact-form]-->	
			</div>
			<!-- /[.container] -->
		</div>
	</main>
	<!-- /[.contents] -->
<%- include(srcPath + 'html/include/_footer') %>
</div><!-- /[.page] -->

<%- include(srcPath + 'html/include/_body_last') %>
<%- include(srcPath + 'html/include/_body_last_guidance') %>
</body>
</html>
