<%
meta = { title:'商品情報', desc:'' };
path = '../';
directory = 'products';
directoryLv2 = '';
page = '';
%><!DOCTYPE html>
<html lang="ja">
<% include ../include/_head %>
<body class="<% if (directory!=='') { %><%= directory %><% } else {%>home<% } %>" id="top">
<div class="page" id="data-page">
<% include ../include/_header %>

<% include ../include/_top-carousel %>
	
	<div class="main contents">
		<section class="contents__inner">
			<h1 class="page-title"><img src="<%= path %>images/products/page-title.png" alt="<%= meta.title %>"></h1>
			<div class="page-body">
				<section class="products-article is--music">
					<h2 class="products-article__title"><img src="<%= path %>images/products/title_music_sp.png" alt="音楽"></h2>
					<div class="products-article__body">
						<article class="products-unit with--jacket">
							<h3 class="products-unit__title">
								<span class="title--sub">オープニングテーマ</span>
								<span class="title--main">GRANRODEO「BEASTFUL」</span>
							</h3>
							<div class="products-unit__body">
								<div class="products-unit__jacket">
									<div class="products-unit__jacket__unit">
										<p class="products-unit__jacket--image"><img src="<%= path %>images/products/granrode_jacket01.jpg" alt="ジャケット写真：初回限定盤"></p>
										<p class="products-unit__jacket--caption">初回限定盤</p>
									</div>
									<div class="products-unit__jacket__unit">
										<p class="products-unit__jacket--image"><img src="<%= path %>images/products/granrode_jacket02.jpg" alt="ジャケット写真：通常盤"></p>
										<p class="products-unit__jacket--caption">通常盤</p>
									</div>
								</div>
								<p class="is-outline">発売日：2018年7月11日<br>
									【初回限定盤 (CD+BD)】1,900円 (税抜)<br>
									【通常盤】1,200円 (税抜)<br>
									※初回限定盤には、BEASTFUL (Music Clip)を収録予定</p>
								<div class="is-body">
									<p class="artist-comment__photo"><img src="<%= path %>images/products/photo_granrodeo.jpg" alt="アーティスト写真：GRANRODEO"></p>
									<section class="artist-comment">
										<h4 class="artist-comment__title">アーティストコメント</h4>
										<div class="artist-comment__unit">
											<h5 class="artist-comment__name">KISHOW</h5>
											<p class="artist-comment__body">“あの”バキなのでハンパない楽曲になってます。<br>
												人間の中に潜む闘争本能、野獣のような雄々しさを意識して歌いました。<br>
												強い言葉使ってシャウトしたり、刃牙の世界観のお陰でできた曲です。</p>
											<h5 class="artist-comment__name">e-ZUKA</h5>
											<p class="artist-comment__body">バキの世界観に負けないような格闘系の激しい楽曲を作りました！<br>
												ヘヴィメタルでプログレッシブで演奏、歌唱する事自体が格闘技で（笑）、GR的にも新たな挑戦的な１曲になりました。<br>
												気に入って頂けると嬉しいです！よろしくお願いします！</p>
										</div>
									</section>									
								</div>
							</div>
						</article><!-- /[.products-unit] -->

						<article class="products-unit with--jacket">
							<h3 class="products-unit__title">
								<span class="title--sub">エンディングテーマ</span>
								<span class="title--main">田所あずさ「RESOLVE」</span>
							</h3>
							<div class="products-unit__body">
								<div class="products-unit__jacket">
									<div class="products-unit__jacket__unit">
										<p class="products-unit__jacket--image"><img src="<%= path %>images/products/TadokoroAzusaRESOLVE.jpg" alt="ジャケット写真：アーティストジャケット盤"></p>
										<p class="products-unit__jacket--caption">アーティストジャケット盤</p>
									</div>
									<div class="products-unit__jacket__unit">
										<p class="products-unit__jacket--image"><img src="<%= path %>images/products/nowprinting.jpg" alt="ジャケット写真：アニメジャケット盤"></p>
										<p class="products-unit__jacket--caption">アニメジャケット盤</p>
									</div>
								</div>
								<p class="is-outline">発売日：2018年7月25日<br>
									【アーティストジャケット盤】1,300円 (税抜)<br>
									【アニメジャケット盤】1,200円 (税抜)<br>
									＊アニメジャケット盤：描き下ろしイラストジャケット</p>
								<div class="is-body -vertical">
									<p class="artist-comment__photo"><img src="<%= path %>images/products/photo_tadokoro-vertical.jpg" alt="アーティスト写真：田所あずさ"></p>
									<section class="artist-comment">
										<h4 class="artist-comment__title">アーティストコメント</h4>
										<div class="artist-comment__unit">
											<h5 class="artist-comment__name">田所あずさ</h5>
											<p class="artist-comment__body">幼少期から兄が好きで読んでいた作品だったので、まさかその曲を歌えるということがびっくりですし、とても嬉しいです！梢ちゃん視点の深い愛を表現した歌詞で、バキの世界観にぴったりな熱い楽曲になっています！</p>
										</div>
									</section>									
								</div>
							</div>
						</article><!-- /[.products-unit] -->
					</div>
				</section><!-- /[.products-article] -->
			</div>
		</section>
	</div>


<% include ../include/_footer %>
</div><!-- /[.page] -->

<% include ../include/_loading %>

<% include ../include/_body_last %>
</body>
</html>
