<section class="block-instruments" id="section-instruments">
	<h2 class="block__title"><span>ARISTO第一号商品</span></h2>
	<div class="top-carousel">
		<div class="top-carousel__inner" id="data-carousel">
			<div class="top-carousel__item"><img src="<%= path %>images/index/photo_kyoto01.jpg" alt=""></div>
			<div class="top-carousel__item"><img src="<%= path %>images/index/photo_kyoto02.jpg" alt=""></div>
			<div class="top-carousel__item"><img src="<%= path %>images/index/photo_kyoto03.jpg" alt=""></div>
			<div class="top-carousel__item"><img src="<%= path %>images/index/photo_kyoto04.jpg" alt=""></div>
		</div>
		<div class="top-carousel__message">
			<div class="top-carousel__message__inner">
				<h3 class="top-carousel__title">歴史に<br class="is-pc">守られながら<br class="is-pc">進化する<br class="is-pc">京都という<br class="is-pc">価値。</h3>
				<p class="top-carousel__body">世界が注目する都市古都京都。<br>
					歴史に導かれ、文化を刻み<br class="is-pc">今も人々を魅了し続けています。<br>
					世界を魅き付けるここ京都の地から<br class="is-pc">エー・ディー・ワークスの不動産小口化商品を<br class="is-pc">お届けします。</p>
				<p class="top-carousel__map"><img src="<%= path %>images/index/map_kyoto.png" alt=""></p>
			</div>
		</div>
	</div>
	<!-- /[.top-carousel] -->

	<div class="block-title" id="section-title">
		<div class="block -available">
			<h2 class="block-title__logo"><img src="<%= path %>images/common/logo_aristo-kyoto.jpg" alt="ARISTO京都"></h2>
		</div>
	</div>
	<!-- /[.block-title#section-title] -->
</section>
<!-- /[.block-instruments#section-instruments] -->

