				<div class="block-seminars__body">
					<% if (seminar=='finish') {%><h2 class="block-contact__title is--attention">現在開催予定のセミナーはございません。<br>資料請求・お問い合わせは受付けております。</h2><% } else { 
						%><% var _counter = 0; %><% seminarList.forEach(function(item){%><%if (_counter < 5){%><article class="seminar-item">
					<div class="seminar-detail__body">
						<div class="seminar-detail__meta">
							<p><a href="<%= path %>entry-seminar/?<%- item.seminarLink %>"><img src="<%= path %>images/seminar/<%- item.seminarImage %>.jpg" alt="<%- item.seminarTitle %>"></a></p>
							<% if (item.seminarCategories) { %><p class="seminar-detail__categories">
							<% item.seminarCategories.forEach(function(item) {%><span class="seminar-detail__categories-<%= item.categoryClass %>"><%= item.categoryLabel %></span><%})%>
							</p><% } %>
						</div>
						<div class="seminar-detail__information">
							<h2 class="seminar-detail__title"><%- item.seminarTitle %></h2>
							<% if (item.seminarDate) {%><dl class="seminar-information">
							<dt>開催日時</dt>
							<dd class="date"><%- item.seminarDate %></dd>
							</dl><% } %>
							<% if (item.seminarPlace) {%><dl class="seminar-information">
							<dt>開催場所</dt>
							<dd><%- item.seminarPlace %></dd>
							</dl><% } %>
							<% if (item.seminarFee) {%><dl class="seminar-information">
							<dt>参加費</dt>
							<dd><%- item.seminarFee %></dd>
							</dl><% } %>
							<% if (item.seminarCapacity) {%><dl class="seminar-information">
							<dt>定員</dt>
							<dd><%- item.seminarCapacity %></dd>
							</dl><% } %>
						</div>
					</div>
					<% if (item.seminarLink) {%><p class="btn"><a href="<%= path %>entry-seminar/?<%- item.seminarLink %>" class="btn-seminar">セミナー申込み</a></p><% } %>
					</article>
					<% } %><% _counter++; %><% })%><% } %>
				</div>
				<%if (seminar=='finish') { %>
				<a href="<%= path %>request/#form-contact" class="btn-detail block-contact__button">資料請求・お問い合わせはこちら</a>
<%include _block-contact %><% } %>
