		<section class="block block-point" id="section-point">
			<h2 class="block__title">好立地の優良不動産へ<br class="is-sp">投資することのメリットとは？</h2>
			<div class="block__body">
				<section class="unit unit-point -point1" id="point1">
					<h3 class="unit-point__title">安定した賃料収入が期待でき、<br>かつ資産価値が落ちづらい傾向がある。</h3>
					<dl class="unit-point__image">
						<dt class="caption">京都府「地価調査」より作成</dt>
						<dd><img src="<%= path %>images/index/image_point1.jpg" alt="イメージ：安定した賃料収入が期待でき、かつ資産価値が堕ちづらい傾向がある。"></dd>
					</dl>
					<p class="is--notice">※物件の資産価値が下落しないことを保証するものではありません。</p>
				</section>
				<!-- /[.unit.unit-point#point1] -->
				<section class="unit unit-point -point2" id="point2">
					<h3 class="unit-point__title">不動産は、相続・贈与時に時価と<br class="is-sp">評価額の差が大きいことから<br>資産の圧縮効果を得ることができる。</h3>
					<p class="unit-point__image"><img src="<%= path %>images/index/image_point2.jpg" alt="イメージ：不動産は、相続・贈与時に時価と評価額の差が大きいことから資産の圧縮効果を得ることができる。"></p>
					<p class="is--notice">※図はあくまでもイメージであり、圧縮効果は不動産によって異なります。  また、税制の変更等により効果の幅も変わります。</p>
				</section>
				<!-- /[.unit.unit-point#point2] -->
				<div class="unit aristo-note">
					<p>好立地の優良不動産に投資をするためには大きな資本が必要となります。<br>ARISTOは、不動産を小口化することで、メリットをそのままに、500万円からの投資が可能です。</p>
					<p class="aristo-note__appendix">（一口100万円で最低5口からの投資になります）</p>
				</div>
				<section class="unit -point3-4" id="section-merit">
					<h3 class="unit__title">小口化することによる更なるメリット</h3>
					<div class="unit-point__body">
						<div class="unit unit-point unit-point--sub -point3">
							<div class="unit-point--sub__inner">
								<p class="unit-point--sub__image"><img src="<%= path %>images/index/image_point3.jpg" alt="イメージ：管理運営の手間無し"></p>
								<section class="unit-point--sub__body">
									<h4 class="unit-point--sub__title">管理運営の手間無し</h4>
									<p>入居するテナントへの対応や、日々の維持管理から、長期的な建物のメンテナンス等、不動産の管理運営には手間がかかります。そのような管理運営は当社が⼀括して執り行いますので、皆様には煩わしい手間はかかりません。</p>
								</section>
							</div>						
						</div>
						<!-- /[.unit.unit-point--sub.-point3] -->
						<div class="unit unit-point unit-point--sub -point4">
							<div class="unit-point--sub__inner">
								<p class="unit-point--sub__image"><img src="<%= path %>images/index/image_point4.jpg" alt="イメージ：次世代への平等な資産承継"></p>
								<section class="unit-point--sub__body">
									<h4 class="unit-point--sub__title">次世代への平等な資産承継</h4>
									<p>口数による分割が可能であることから、実物不動産と異なり、複数人への平等な相続、贈与が容易です。</p>
								</section>
							</div>
						</div>
						<!-- /[.unit.unit-point--sub.-point4] -->
					</div>
					<p class="aristo-message">「ARISTO」は、優良不動産への投資メリットに加え、<br class="is-pc">小口化の投資メリットを兼ね備えた商品です。<br>東証一部上場のエー･ディー・ワークスがご提供する不動産小口化商品<br class="is-pc">「ARISTO」を、皆様の運用先の一つとして<br class="is-pc">ぜひご検討ください。</p>
				</section>
				<!-- /[.unit.-point3-4] -->
			</div>
			<h2 class="block-contact__title">セミナー申込み・資料請求・お問い合わせはこちら</h2>
			<a href="<%= path %>seminar/" class="btn-detail block-contact__button">セミナー詳細はこちら</a>
			<a href="<%= path %>request/#form-contact" class="btn-detail block-contact__button">資料請求・お問い合わせはこちら</a>
			<% include include/_block-contact_0801 %>
		</section>
		<!-- /[.block-point#section-point] -->
