<div class="block block-others">
	<div class="block-catalogue__body"><% catalogue.forEach(function(item) {%>
		<% if(item.catalogueID!=='') {%><div class="catalogue-item<%if(item.catalogueType){%> -<%- item.catalogueType %><% } %>" id="catalogue-<%- item.catalogueID %>">
		<a href="<%= path %><%= item.catalogueID %>">
			<div class="catalogue__photo"><% item.cataloguePhoto.forEach(function(value) {%>
				<div class="catalogue__photo__item -item<%- value %>"><img src="<%= path %>images/index/photo_<%- item.catalogueID %>_<%= value %>.jpg" alt="写真：<%- item.catalogueTitle %><%- value %>"></div><% }) %>
			</div>
			<div class="catalogue__body<% if(item.catalogueStatus) { %> catalogue-<%- item.catalogueStatus%><% } %>">
				<h3 class="catalogue__title"><%- item.catalogueTitle %><% if(item.catalogueCaption) {%><span class="-caption"><%- item.catalogueCaption %></span><% } %></h3>
				<% if(item.catalogueInformation) {%><p class="catalogue__information"><%- item.catalogueInformation %></p><% } %>
			</div>
		</a>
		</div><%}%><%}); %>
	</div>
</div>
