		<section class="block-flow" id="section-flow">
			<h2 class="block__title"><span>ご契約の流れ</span></h2>
			<div class="block">
				<div class="block-flow__body">
					<div class="unit-flow">
						<h3 class="unit-flow__title">
							<span class="step">STEP1</span>
							<span class="title">資料請求・セミナーご来訪</span>
						</h3>
						<div class="unit-flow__body">
							<% if (guidance!=='finish') { %><a href="<%= path %>guidance/#form-contact" class="btn-detail -reverse">Web個別案内会はこちら</a><% } else {%><% } %><a href="<%= path %>request/" class="btn-detail">資料請求はこちら</a><% if (seminar!=='finish') { %><a href="<%= path %>entry-seminar/" class="btn-detail -reverse">セミナー申込みはこちら</a><% } else {%><% } %>
						</div>
					</div>
					<div class="unit-flow">
						<h3 class="unit-flow__title">
							<span class="step">STEP2</span>
							<span class="title">申込書のご提出</span>
						</h3>
						<div class="unit-flow__body">
							<p>商品内容をご理解のうえ、お申込をしてください。</p>
						</div>
					</div>
					<div class="unit-flow">
						<h3 class="unit-flow__title">
							<span class="step">STEP3</span>
							<span class="title">ご契約のお手続き</span>
						</h3>
						<div class="unit-flow__body">
							<p>※契約にかかる時間は約１～２時間を予定しております。<br>
								クーリングオフ期間は契約締結後８日間です。</p>
						</div>
					</div>
					<div class="unit-flow">
						<h3 class="unit-flow__title">
							<span class="step">STEP4</span>
							<span class="title">出資金のお振り込み</span>
						</h3>
						<div class="unit-flow__body">
							<p>出資金のお振込期日・振込先等の詳細につきましては<br class="is-pc">ご契約時にご説明いたします。</p>
						</div>
					</div>
					<div class="unit-flow">
						<h3 class="unit-flow__title">
							<span class="step">STEP 5</span>
							<span class="title">組合加入・契約成立</span>
						</h3>
					</div>
				</div>
				<h2 class="block-contact__title">資料請求・お問い合わせはこちら</h2>
<%- include('_block-contact__buttons') %>
<%- include('_block-contact') %>
			</div>
		</section>