		<section class="block block-characteristic" id="section-characteristic">
			<h2 class="unit__title"><span>対象不動産の特性</span></h2>
			<div class="block__body">
				<div class="block-characteristic__image">
					<p><img src="<%= path %>images/index/image_arcade.jpg" alt="図：対象不動産の特性"></p>
					<p class="caption">※赤点線はアーケードのイメージです</p>
				</div>
				<div class="block-characteristic__body">
					<h3 class="title">立地特性</h3>
					<p class="indent">・「広場に面していること」、「間口が非常に広いこと(※)」、「2面接道であること」から、繁華性の高い新京極通りの中でも極めて視認性の高い希少立地であるといえます。</p>
					<p class="indent">・アーケードによる視線の遮りがなく、上層階まで物件を認識することができます。<br>※周辺物件は、間口が狭く奥行きがある”うなぎの寝床”と言われる店誦が一般的であるのに対して、本件は極めて間口が広く、商業地として希少性が高いといえます。</p>
					<h3 class="title">ガラス張りの外観（建物特性）</h3>
					<p>視認性の高い立地を生かしたインパクトのある外観といえます。 また、外から建物内部を見通すことができ、店舗内へ歩行者を誘引しやすく、商業ビルとしての強みになります。</p>
					<ul class="characteristic-images">
						<li class="characteristic-images__item">
							<p><img src="<%= path %>images/index/photo_surroundings1.jpg" alt="写真：周辺店舗"></p>
							<p class="caption">周辺店舗</p>
						</li>
						<li class="characteristic-images__item">
							<p><img src="<%= path %>images/index/photo_surroundings2.jpg" alt="写真：ARISTO 京都"></p>
							<p class="caption">ARISTO 京都</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="block-characteristic-images">
				<div class="gallery-images__main"></div>
				<ul class="gallery-images__thumbnail">
					<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/index/image_perspective01.jpg" alt="ARISTO京都：イメージ01"></li>
					<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/index/image_perspective02.jpg" alt="ARISTO京都：イメージ02"></li>
					<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/index/image_perspective03.jpg" alt="ARISTO京都：イメージ03"></li>
					<li class="gallery-images__thumbnail__item"><img src="<%= path %>images/index/image_perspective04.jpg" alt="ARISTO京都：イメージ04"></li>
				</ul>
				<p class="gallery-images__caption">※撮影日：2018年7月　株式会社トレード社より取得</p>
			</div>
		</section>
		<!-- /[.block.block-characteristic#section-characteristic] -->

