				<nav class="character-navi">
					<ul class="character-navi__body">
						<li class="character-navi__item is--baki"><a href="<%= path %>character/baki/">バキ</a></li>
						<li class="character-navi__item is--doppo"><a href="<%= path %>character/doppo/">愚地独歩</a></li>
						<li class="character-navi__item is--shibukawa"><a href="<%= path %>character/shibukawa/">渋川剛気</a></li>
						<li class="character-navi__item is--retsu"><a href="<%= path %>character/retsu/">烈海王</a></li>
						<li class="character-navi__item is--hanayama"><a href="<%= path %>character/hanayama/">花山薫</a></li>
					</ul>
					<ul class="character-navi__body">
						<li class="character-navi__item is--dorian"><a href="<%= path %>character/dorian/">ドリアン</a></li>
						<li class="character-navi__item is--doyle"><a href="<%= path %>character/doyle/">ドイル</a></li>
						<li class="character-navi__item is--sikorsky"><a href="<%= path %>character/sikorsky/">シコルスキー</a></li>
						<li class="character-navi__item is--spec"><a href="<%= path %>character/spec/">スペック</a></li>
						<li class="character-navi__item is--yanagi"><a href="<%= path %>character/yanagi/">柳龍光</a></li>
					</ul>
				</nav><!-- /[.character-navi] -->