	<header class="globalHeader" id="data-header">
		<div class="globalHeader__inner">
			<div class="globalHeader__top">
				<div class="siteTitle">
					<dl>
						<dt class="siteTitle__logo"><a href="<%= path %>" aria-label="トップページへのリンク"><img src="<%= path %>images/common/logo.jpg" alt="ロゴ：ARISTO（アリスト）"></a></dt>
						<dd class="siteTitle__catch">東証一部上場　<br class="is-sp">株式会社エー・ディー・ワークスの<br>不動産小口化商品 ARISTO</dd>
					</dl>
				</div>
				<div class="siteTitle__function">
					<div class="siteTitle__function__form">
						<a href="<%= path %>request/#form-contact" class="btn-contact">資料請求はこちら</a>
						<% if (isForm == '') { %><a href="<%= path %>seminar/" class="btn-seminar">セミナー詳細はこちら</a><% } else { %><a href="<%= path %>entry-seminar/" class="btn-seminar">セミナー申込みはこちら</a><% } %>
					</div>
					<div class="siteTitle__function__tel is--tel">
						<p class="siteTitle__function__tel__number"><a href="tel:0120540949">0120-540-949</a></p>
						<p class="siteTitle__function__tel__description">受付時間 9:00～18:00 （土日祝日除く）</p>
					</div>
				</div>
			</div>
			<div class="navDrawer_btn_wrapper">
				<button class="navDrawer_btn" id="data-menuBtn" aria-labelledby="aria-menuBtnLabel" aria-controls="js-navDrawer"><span></span></button>
			</div>
		</div>
		<div class="globalHeader__body" id="data-navDrawer" aria-hidden="true">
			<div class="globalHeader__body__inner">
				<div class="siteTitle">
					<a href="<%= path %>" aria-label="トップページへのリンク"><img src="<%= path %>images/common/logo_globalheader.png" alt=""></a>
					<a class="btn-detail block-contact__button" href="<%= path %>seminar/">セミナー詳細はこちら</a>
					<a class="btn-detail block-contact__button" href="<%= path %>request/#form-contact">資料請求はこちら</a>
				</div>
				<nav class="gNavi">
					<ul class="gNavi__body" role="menubar">
						<li class="gNavi__item" role="presentation">
							<a role="menuitem" href="<%= path %>"><span>ARISTOとは</span></a>
							<ul>
								<li class="gNavi__item" role="presentation"><a role="menuitem" href="<%= path %>#section-point"><span>好立地の優良不動産へ投資することのメリットとは？</span></a></li>
								<li class="gNavi__item" role="presentation"><a role="menuitem" href="<%= path %>#section-merit"><span>小口化することによる更なるメリット</span></a></li>
							</ul>
						</li>
						<li class="gNavi__item" role="presentation">
							<a href="<%= path %>#section-catalogue" role="menuitem">物件情報</a>
							<ul>
								<li class="gNavi__item" role="menuitem"><a href="<%= path %>aoyama/"><span>［募集中］ARISTO青山</span></a></li>
								<li class="gNavi__item" role="menuitem"><a href="<%= path %>kyoto/"><span>［運用中］ARISTO京都</span></a></li>
							</ul>
						</li>
						<li class="gNavi__item" role="presentation"><a href="<%= path %>seminar/" role="menuitem"><span>セミナー情報</span></a></li>
						<li class="gNavi__item" role="presentation"><a role="menuitem" href="<%= path %>#section-flow"><span>ご契約の流れ</span></a></li>
						<li class="gNavi__item" role="presentation"><a role="menuitem" href="<%= path %>#section-faq"><span>よくあるご質問</span></a></li>
						<li class="gNavi__item" role="presentation"><a role="menuitem" href="<%= path %>#section-information"><span>ご注意事項</span></a></li>
						<li class="gNavi__item" role="presentation"><a role="menuitem" href="<%= path %>#section-company"><span>事業者 エー・ディー・ワークスについて</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- /[.globalHeader] -->
