				<section class="unit-kyoto" id="section-kyoto--merit">
					<h3 class="unit-kyoto__title">京都不動産投資のメリット</h3>
					<div class="block unit-kyoto__body">
						<div class="unit-kyoto--merit1" id="section-kyoto-merit1">
							<p class="unit-kyoto--merit__title">京都市内中心部商業地の賃料・不動産価格は上昇傾向。</p>
							<div class="unit unit-merit -merit1" id="section-merit1">
								<h4 class="unit-merit__head unit-merit1">インバウンド需要拡大の恩恵を受ける<br class="is-pc">京都市内中心部の物販・飲食業が好調で<br class="is-pc">京都市内中心部商業地の賃料・不動産価格は上昇傾向にある。</h4>
								<div class="block--merit1">
									<div class="unit-merit unit-merit--inbound">
										<section class="unit-merit__item -inbound" id="section-growth-inbound">
											<h5 class="unit-merit__title">インバウンド需要の拡大</h5>
											<div class="unit-point__image">
												<p><img src="<%= path %>images/index/figure_growth01.png" alt="京都市宿泊客数（除く民泊、万人）"></p>
												<p class="caption">京都市「京都観光総合調査」H28年より当社作成</p>
											</div>
										</section>
										<!-- /[.unit-merit__item.-inbound#section-growth-inbound] -->
										<section class="unit-merit__item -consumption" id="section-growth-consumption">
											<h5 class="unit-merit__title">京都市内観光消費額は上昇傾向</h5>
											<div class="unit-merit__body">
												<div class="unit-point__image">
													<p><img src="<%= path %>images/index/figure_growth02.png" alt="京都市観光消費額（億円）"></p>
													<p class="caption">京都市「京都観光総合調査」H28年より当社作成</p>
												</div>
												<div class="unit-point__table">
													<table>
														<thead>
															<tr>
																<th colspan="2">高島屋店舗</th>
																<th>上：売上高（億円）<br>下：前年比増減率（％）</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<th>関西</th>
																<td>京都店</td>
																<td>88,126<br><strong>3.9%</strong></td>
															</tr>
															<tr>
																<th rowspan="3">関東</th>
																<td>日本橋店</td>
																<td>134,241<br>1.0%</td>
															</tr>
															<tr>
																<td>横浜店</td>
																<td>131,649<br>1.7%</td>
															</tr>
															<tr>
																<td>新宿店</td>
																<td>73,331<br>3.5%</td>
															</tr>
														</tbody>
													</table>
													<p class="caption">株式会社高島屋2018年2月期決算補足資料<br>「店舗別売上高等」より当社作成</p>
												</div>
											</div>
										</section>
										<!-- /[.unit-merit__item.-consumption#section-growth-consumption] -->
									</div>
									<section class="unit-merit -rent" id="section-growth-rent">
										<h5 class="unit-merit__title">賃料相場が上昇</h5>
										<div class="unit-merit__body">
											<ul class="rent-market">
												<li class="rent-market__item"><img src="<%= path %>images/index/image_rental-rate_2017.png" alt="賃料相場：2017年秋"></li>
												<li class="rent-market__item"><img src="<%= path %>images/index/image_rental-rate_2018.png" alt="賃料相場：2018年春"></li>
											</ul>
											<p class="caption">一般財団法人日本不動産研究所、株式会社ピーエーシー・アーバンプロジェクト、スタイルアクト株式会社<br>2017年秋及び2018年春公表資料より当社作成</p>
										</div>
									</section>
									<!-- /[unit-merit.-rent#section-growth-rent] -->
									<section class="unit-merit -land-price">
										<h5 class="unit-merit__title">地価（商業地）が上昇傾向</h5>
										<div class="unit-merit__body">
											<div class="unit-point__image">
												<p><img src="<%= path %>images/index/figure_land-price.png" alt="グラフ：京都市の商業地平均地価の推移"></p>
												<p class="caption">京都府「地価調査」より当社作成</p>
											</div>
										</div>
									</section>
									<!-- /[section.unit-merit.-land-price] -->
								</div>
								<!-- /[.unit.unit-merit#section-growth] -->
							</div>
							<!-- /[.unit-merit.-merit1#section-merit1] -->

						</div>
						<div class="unit-kyoto--merit2" id="section-kyoto-merit2">
							<p class="unit-kyoto--merit__title">景観保全で建築規制が厳しく、不動産供給に一定の制限がかかる傾向。</p>
							<div class="unit unit-merit -merit2" id="section-merit2">
								<h3 class="unit-merit__head unit-merit1">景観保全で建築規制が厳しく、不動産供給に一定の制限が掛かる傾向。<br class="is-pc">よって市内中心部好立地の不動産は今後も希少性が高い可能性。</h3>
								<div class="block--merit2">
									<section class="unit-merit -regulation1" id="section-regulation1">
										<h4 class="unit-merit__title">規制例1</h4>
										<h5 class="unit-merit__subtitle"><span class="main">建物の高さ規制の強化</span><span class="sub">（2007年：高度地区による高さ規制）</span></h5>
										<div class="unit-merit__body">
											<div class="unit-merit__body__image"><img src="<%= path %>images/index/image_merit2-1.png" alt="図：建物の高さ規制の強化"></div>
											<div class="unit-merit__body__main">
												<p class="main">風情ある建造物や京町屋の景観保全を<br class="is-pc">目的として建築物の<br class="is-pc">高さ最高限度を<br class="is-pc">41mから31mへ規制強化</p>
												<p class="note">例：都心部の幹線道路沿道等</p>
											</div>
										</div>
									</section>
									<!-- /[.unit-merit.-regulation1#section-regulation1] -->
									<section class="unit-merit -regulation2" id="section-regulation2">
										<h4 class="unit-merit__title">規制例2</h4>
										<h5 class="unit-merit__subtitle"><span class="main">眺望景観や借景の保全による高さ制限</span><span class="sub">（2007年：京都市眺望景観創生条例）</span></h5>
										<div class="unit-merit__body">
											<div class="unit-merit__body__image"><img src="<%= path %>images/index/image_merit2-2.png" alt="図：眺望景観や借景の保全による高さ制限"></div>
											<div class="unit-merit__body__main">
												<p class="main">世界遺産に登録されている社寺等からの眺望景観を保全するための条約であり、そこからの眺めを遮る建物の高さ、デザインを規制します。</p>
												<p class="note">例：賀茂川西岸からの「大文字」</p>
												<p class="note">京都新聞2007年2月5日新景観政策概要より抜粋</p>
											</div>
										</div>
									</section>
									<!-- /[.unit-merit.-regulation2#section-regulation2] -->
								</div>
							</div>
							<!-- /[.unit-merit.-merit1#section-merit2] -->
						</div>
					</div>
				</section>
				<!-- /[.unit-kyoto#section-kyoto--merit] -->