	<div class="top-carousel" id="data-carousel">
		<div class="top-carousel__item"><img src="<%= path %>images/common/image_slide_01.jpg" alt=""></div>
		<div class="top-carousel__item"><img src="<%= path %>images/common/image_slide_02.jpg" alt=""></div>
		<div class="top-carousel__item"><img src="<%= path %>images/common/image_slide_03.jpg" alt=""></div>
		<div class="top-carousel__item"><img src="<%= path %>images/common/image_slide_04.jpg" alt=""></div>
		<div class="top-carousel__item"><img src="<%= path %>images/common/image_slide_05.jpg" alt=""></div>
		<div class="top-carousel__item"><img src="<%= path %>images/common/image_slide_06.jpg" alt=""></div>
		<div class="top-carousel__item"><img src="<%= path %>images/common/image_slide_07.jpg" alt=""></div>
		<div class="top-carousel__item"><img src="<%= path %>images/common/image_slide_08.jpg" alt=""></div>
	</div><!-- /[.top-carousel] -->